[2013-10-22 13:09] 19h opened #1 "Performance"
Hi,

great project! Since you value performance, why don't you checkout uberlevel or hyperlevel? (these are available from rvagg, too: level-lmdb and level-hyper). We built quite some bindings, but these are the fastest you will get (lmdb is a memory mapped database, leveldown compatible; hyper-leveldb is a supercharged fork of leveldb). Btw. when you include these to your project, you can drop *d

[2013-12-05 04:37] dickhardt opened #2 "scan performance"
scan is the only easy way to dump the DB -- any timing on when you might improve the performance? ... or provide a JSON dump of the DB that can be imported again?

Useful for saving and restoring state during development.

[2013-12-05 09:18] #2 closed, assigned to nobody

[2013-12-08 23:14] jed opened #3 "LevelUPError: Could not locate LevelDOWN"
the following

[code]

throws with this error:

[code]

perhaps you should be depending on `level` and not `leveldown`?

(also, i think the API would be more level-like if you require the user to pass their levelDB instance instead of the path for the constructor. what do you think?)

[2013-12-09 00:20] #3 closed, assigned to nobody

[2013-12-13 03:27] mhart opened #4 "Add support for GlobalSecondaryIndexes"
http://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_CreateTable.html

http://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_UpdateTable.html

http://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_DescribeTable.html

http://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_Query.html

[2014-04-22 02:35] dylanclementas opened #5 "query not using indexes"
This is more of a performance issue, when querying on the id it looks like it still does a scan of the entire db.

We have a table with around 200K rows, to do the following query:
`table.query {id: type + '-' + id}, ['attr1', 'attr2', 'attr3'], cb`
takes about 45 seconds.

Doing a scan and then filtering the results seems to actually run faster, 35-40 seconds, albeit using more memory.

On dynamo

[2014-04-22 04:33] #5 closed, assigned to nobody

[2014-04-22 04:35] #4 closed, assigned to nobody

[2014-06-18 20:53] khamasaki opened #6 "DynamoDB April 2014 Updates"
Hi, I was wondering if you were planning to add support for the recent DynamoDB changes. See here:

http://aws.amazon.com/blogs/aws/improved-queries-and-updates-for-dynamodb

In particular, the Exists and Value options for conditional updates are now deprecated in favor of the new ComparisonOperator based options.

[2014-07-30 20:38] tmcw opened #8 "itemSize underestimates item size"
From the Dynamo docs:

But [itemSize](https://github.com/mhart/dynalite/blob/master/db/index.js#L328-L360) uses `new Buffer(val, 'base64').length` to calculate buffer lengths. Seems like this should be simply `new Buffer(val).length`, skipping the base64 encoding.

[2014-07-30 23:32] pifantastic opened #9 "Logging + a --verbose option"
Great project! Tough to debug though. Would be awesome to have some logging and a `--verbose` flag to make the server a little more chatty.

[2014-09-06 22:33] #8 closed, assigned to nobody

[2014-09-06 22:34] #6 closed, assigned to nobody

[2014-10-04 00:02] rclark opened #14 "Support for `INDEXES` in ReturnConsumedCapacity"
It appears that [at least the scan operation](https://github.com/mhart/dynalite/blob/fba2eb51d24afba8d72c84c17ebc218609f9b8e3/actions/scan.js#L71-L72) doesn't support the `INDEXES` option you might specify for `ReturnConsumedCapacity`. Is this the case for other types of requests as well?

Thanks!

[2014-10-09 14:38] pm-michael-hart opened #15 "Add support for new JSON document datatypes"
https://aws.amazon.com/blogs/aws/dynamodb-update-json-and-more/
http://www.allthingsdistributed.com/2014/10/document-model-dynamodb.html

[2014-10-09 14:38] #15 closed, assigned to nobody

[2014-10-09 14:40] mhart opened #16 "Add support for new JSON document datatypes (BOOL, M, L, NULL)"
https://aws.amazon.com/blogs/aws/dynamodb-update-json-and-more/
http://www.allthingsdistributed.com/2014/10/document-model-dynamodb.html

[2014-10-09 14:44] mhart opened #17 "Add support for larger items"
https://aws.amazon.com/blogs/aws/dynamodb-update-json-and-more/
http://www.allthingsdistributed.com/2014/10/document-model-dynamodb.html

[2014-10-09 14:48] mhart opened #18 "Add support for unlimited scaling"
https://aws.amazon.com/blogs/aws/dynamodb-update-json-and-more/
http://www.allthingsdistributed.com/2014/10/document-model-dynamodb.html

[2014-10-09 14:51] #1 closed, assigned to nobody

[2014-10-13 22:24] #17 closed, assigned to nobody

[2015-01-08 17:16] JamesSkinner commented on #16
+1

[2015-01-12 15:40] loshia commented on #16
+1

[2015-01-16 18:54] MalucoMarinero opened #20 "0.5.1 Broken Dependency Upgrade - --path mode fails."
Heyo, just run into an issue with version 0.5.1. Downgrading to 0.5.0 works just fine.

LevelUPError: Installed version of LevelDOWN (1.0.0) does not match required version (~0.10.0)

The optional dependency of leveldown needs to be downgraded back to '0.10.*', setting it to '1.*' yields this error when running dynalite with the --path option. LevelUp is not yet updated to support leveldown@1.*

[2015-01-16 19:08] mhart commented on #20
Oh, ouch – thanks for the heads up, looking into this now.

[2015-01-16 19:21] #20 closed

[2015-01-16 19:22] mhart commented on #20
Thanks for that, fixed in v0.5.2 and I deprecated v0.5.1 on npm.

[2015-01-27 17:54] entering commented on #9
Would be nice to have a verbose logging option that each command dynalite gets is printed

[2015-03-02 21:41] mhart opened #23 "Add support for `ExpressionAttributeNames` and `ProjectionExpression` in `BatchGetItem`, `GetItem`, `Query` and `Scan`"

[2015-03-02 21:44] mhart opened #24 "Add support for `ConditionExpression`, `KeyConditionExpression `, `ExpressionAttributeNames` and `ExpressionAttributeValues` in `DeleteItem`, `UpdateItem` and `PutItem` and `FilterExpression` in `Scan` and `Query`"
This library supports all the old methods of using conditions (`KeyConditions`, etc) – but should be updated at some point to support all the new grammar.

This is a significant undertaking as it will require writing a parser for all of the syntax supported here: http://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Expressions.SpecifyingConditions.html

[2015-03-02 21:48] mhart opened #25 "Add support for `UpdateExpression` in `UpdateItem`"

[2015-03-02 23:47] mhart opened #26 "Add support for online indexing (creating/updating/deleting GlobalSecondaryIndexes)"
http://aws.amazon.com/releasenotes/Amazon-DynamoDB/1151140518858718

[2015-03-02 23:47] mhart opened #27 "Add support for `IndexName` to `Scan`"
http://aws.amazon.com/releasenotes/Amazon-DynamoDB/3930233905269910

[2015-03-08 16:07] #18 closed

[2015-03-20 20:55] jschlather opened #28 "Can't connect to Dynalite using Boto"
Traceback (most recent call last):
      File "<stdin>", line 1, in <module>
      File "/Library/Python/2.7/site-packages/boto/dynamodb2/layer1.py", line 1090, in list_tables
        body=json.dumps(params))
      File "/Library/Python/2.7/site-packages/boto/dynamodb2/layer1.py", line 2731, in make_request
        retry_handler=self._retry_handler)
      File "/Library/Python/2.7/site-packages/bo

[2015-03-20 22:22] mhart commented on #28
Authorization is definitely needed (to emulate production), so those errors look like it's not being passed through when `is_secure` is false (no surprise there I guess)

The hung request is a bit more interesting, I'm not sure what's causing that. Been a while since I fired up Python, but I'll give it a shot and see what might be causing it.

[2015-03-20 22:33] mhart commented on #28
Actually, turns out I'm wrong :smile_cat:

`is_secure` is just for SSL – so that should be false.

The problem is caused by the way Boto is constructing its authorization header – it's not the same as the way used in the documentation: http://docs.aws.amazon.com/general/latest/gr/sigv4-add-signature-to-request.html – there are no spaces in between params.

I'll fix this in dynalite now – thanks fo

[2015-03-20 22:43] #28 closed

[2015-03-20 22:44] mhart commented on #28
Fixed and published in v0.9.2

Thanks again for filing this.

[2015-03-24 21:58] mhart commented on #16
Done via https://github.com/mhart/dynalite/commit/b28545d2ebed888e47b2304d4d8908ba865034a5 and released in v0.10.0

[2015-03-24 21:58] #16 closed

[2015-03-25 04:22] #14 closed

[2015-03-25 04:23] mhart commented on #14
Sorry it took a while to get around to this! Should be all good now though. Released in v0.11.0

[2015-04-20 19:49] turntayble81 commented on #23
Hi Michael, it appears 'FilterExpression' isn't working on query, either..

[2015-04-20 20:16] mhart commented on #23
@turntayble81 Good point! Have added to the title of https://github.com/mhart/dynalite/issues/24 as it's more closely related to `ConditionExpression` and the language parsing that needs to be done there

[2015-04-20 21:37] turntayble81 commented on #23
Thanks! Btw great project!

[2015-04-29 00:32] mrjackdavis opened #30 ".close() doesn't seem to close levelup"
I'm experiencing some unexpected behaviour. I expect that when I call `.close()` on a dynalite server, the underlying Levelup database is closed. However, it seems that is not the case.

Here's an example:

    var dynalite = require('dynalite');

    var server = dynalite({path: './tmp/dynalite', createTableMs: 50});

    server.listen(4567,function(err){
      if(!err){
        // doThings();

[2015-04-29 03:24] #30 closed

[2015-04-29 03:24] mhart commented on #30
Thanks so much for reporting! Fixed in v0.11.2

[2015-04-29 23:01] tielur opened #31 "GUI"
Are there any plans to have a GUI interface with this? I just recently installed this locally to try and use it for local development but it's been a pain to try to update the tables which I normally do through the GUI. I've taken a look at https://github.com/hij1nx/lev but that's pretty cumbersome as well, especially when trying to update JSON documents.

[2015-04-29 23:06] mhart commented on #31
Nope, no plans at all, this is most definitely a server project.

Closest I can recommend usability-wise is the AWS CLI which should work fine with it – let me know if you have any issues!

http://docs.aws.amazon.com/cli/latest/reference/dynamodb/index.html#cli-aws-dynamodb

[2015-04-29 23:06] #31 closed

[2015-04-30 00:33] tielur commented on #31
@mhart Thanks! For what it's worth the [AWS Toolkit for Eclipse](http://aws.amazon.com/eclipse/) works really well. They have a plugin for visual studio too. As much as I hate java and eclipse, it works well for the very little things I need to do directly to the table.

[2015-05-12 23:52] willwhite opened #32 "Tests failing due to breaking change in abstract-leveldown"
A breaking change in the new release of abstract-leveldown (an upstream dependency of memdown) is causing tests to fail unexpectedly in this project. I have reported the problem in https://github.com/Level/abstract-leveldown/issues/61 but I am opening this issue to help anyone else who might encounter this in the mean time.

The test failures looks like this:

[code]

[2015-05-13 00:06] mhart commented on #32
@willwhite thanks for the report but this was actually fixed in 0.12.0! Try updating and see if that works for you.

[2015-05-13 00:07] mhart commented on #32
Technically it was this commit that fixed it: https://github.com/mhart/dynalite/commit/3c56a499a7b7a73b1c6c828f53c497280e7819fa – it was only a couple of hours ago so you may not have had a chance to check it out yet.

[2015-05-13 00:09] mhart commented on #32
That build passed as well: https://travis-ci.org/mhart/dynalite/builds/62318633 – so I'm going to close this. But please reopen if you can reliably reproduce.

[2015-05-13 00:09] #32 closed

[2015-05-13 01:05] willwhite commented on #32
Yep that works! Thanks for fixing this so quickly. I'm upgrading everywhere now.

[2015-06-23 22:34] addisonj commented on #25
Any ETA on this? https://github.com/ryanfitz/vogels (a nodejs mapping/query library for dynamo) makes use of UpdateExpressions pretty heavily.

I was very excited to be able to run this in the context of my node service, so if there is anyway I can help, let me know!

Seems like a good first step might be a parser for update expressions into a something easier to apply to document?

[2015-07-06 16:30] rclark opened #34 "Missing `LastEvaluatedKey` in query response"
I believe I have a test case that proves the following scenario triggers some kind of dynalite bug:

- generate 1000 items to put which are large enough that the entire result cannot be returned in a single `query` response.
- use `dynamo.batchWriteItem` requests to put these items into dynalite in sets of 25
- scan the table, assert that there are 1000 records in the table
- query the table, resp

[2015-07-06 16:59] mhart commented on #34
Confirmed! Thanks so much for the detailed test – I'll dig into what's happening now. There was definitely some weirdness with LastEvaluatedKey in the live instances that I tried to replicate, but I may have gone too far somewhere in there.

[2015-07-06 17:11] mhart commented on #34
Bleh, for some reason I'm not checking the size of the query *at all* in Query – only in Scan. It's a pretty easy fix, I'll just spend some time adding some tests to ensure everything's ok.

[2015-07-06 17:12] rclark commented on #34
Thanks a lot! I really appreciate how quick you get on these issues!

[2015-07-07 19:45] mhart opened #35 "Add validation for size limits for index keys"
To deal with the following error message:
[code]

[2015-07-07 19:56] mhart commented on #34
OK, have fixed this and published in v0.14.1 – sorry for the slight delay, was trying to get a bunch of weird edge case tests in there!

[2015-07-07 19:56] #34 closed

[2015-09-16 06:35] SamVerschueren commented on #24
Hi. First of all, great project! I would really love using it for my tests. It seems KeyConditionExpression is not supported either.

[2015-09-17 17:50] mhart commented on #24
@SamVerschueren good point! Updated the title. I actually haven't used *any* of the more recent query/scan functionality, so I haven't really had time to work on this :crying_cat_face:

[2015-11-17 19:15] jaquadro commented on #24
+1 -- I'd also love to use this in my tests, but my projects are written with the new API.

[2015-11-30 13:37] chook opened #40 "Update README to reflect updated comparison with newer DynamoDBLocal (2015-07-06)"
https://github.com/mhart/dynalite#problems-with-amazons-dynamodb-local contains a long list of problems that may or may not be still relevant. Is there an updated list?

[2015-12-10 03:18] jasny opened #41 "It takes to long to create a table"
When running dynalite with it's default settings, it should take half a second to create a table. However (on my system) it take a full 20 seconds to complete.

Running dynamlite **0.17.1**

#### How to reproduce

[code]

#### Output

[code]

[2015-12-10 03:21] jasny commented on #27
For more information, see the following:

[Scan](http://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_Scan.html) in the _Amazon DynamoDB API Reference_

[2015-12-10 04:41] mhart commented on #41
Hmmm, you sure you're talking to a local dynalite instance?

Also, how long does the CLI "wait" for in between checking?

If you can reproduce this in JS let me know.

[2015-12-10 04:56] mhart commented on #41
I suspect this is an issue with the CLI "wait" command – or something like that.

If you do `aws dynamodb describe-table --table-name MusicCollection --endpoint-url=http://localhost:4567` you can see that it's in an `ACTIVE` state ~500ms after creation

[2015-12-12 00:36] jasny commented on #41
Hi, yes I initially had this problem in PHP. I was able to reproduce it with the CLI, confirming it isn't a bug  with the AWS PHP SDK.

[code]

[2015-12-12 01:00] jasny commented on #41
If I do an `describeTable` call after 1 second, the status is 'ACTIVE' and the the `waitUntil` command returns right away.

However without the `describeTable` is consistently takes around 20 seconds.

[code]

Results in

[code]

---

[code]

Results in

[code]

---

Maybe it's accidental quantum computing? The state is only defined when you look at it. :wink:

[2015-12-12 01:14] mhart commented on #41
Hmmm, I have no real idea what could be causing that.

Any idea what the `wait` command is doing? It's not part of the DynamoDB API, so I always just assumed it was doing a DescribeTable/sleep/DescribeTable/sleep type situation.

[2015-12-12 01:35] jasny commented on #41
## it's not a bug

The help of `wait table-exists` tells it all

When using an SDK 20 seconds is also the default.

[code]

[2015-12-12 01:35] #41 closed

[2015-12-12 01:36] mhart commented on #41
Cool, nice tracking down! :+1:

[2015-12-12 02:35] jasny commented on #41
For others facing the same issue, you can set the interval using the `waiter.interval` option. So in PHP, you'd do the following to poll each second:

[code]

[2015-12-26 11:33] RikNieuwoudt opened #42 "Query with KeyConditionExpression not working."
I was playing around with Dynalite over the holidays and found an issue with its handling of KeyConditionExpression and query. It appears that Dynalite doesn't do validations for KeyConditionExpression fully, or at all.

I couldn't find any threads on others having a similar issue, is it just me?

[2015-12-26 15:09] mhart commented on #42
Yeah, this is covered by https://github.com/mhart/dynalite/issues/24

[2015-12-26 15:09] #42 closed

[2015-12-30 07:15] rebolyte commented on #24
:+1: Just ran into this issue as well.

[2015-12-30 07:25] SamVerschueren commented on #24
I switched to using [DynamodbLocal](http://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Tools.DynamoDBLocal.html) in a Docker container. Works very well. This project is promising but it's hard to keep it maintained :+1:

[2016-01-12 22:16] rclark opened #43 "GSI pagination fails with overlapping range values"
Ran across this issue in a table like:

index | hash | range
--- | --- | ---
primary | collection | id
gsi | collection | created

If I load 100 items into the same collection, with unique ids but identical creation times, then a set of paginated queries against the GSI, with Limit set < 100, does not return all 100 records. I get one page with a LastEvaluatedKey, but the request for a second page

[2016-01-12 23:16] mhart commented on #43
Ooh, nice edge case with the identical values on a page boundary. Will look into this tonight hopefully

[2016-01-15 10:04] Hiteshm01 opened #44 "NetworkingError: socket hang up"
I am getting this error
[code]

[2016-01-15 14:56] arvenil commented on #24
+1, because of that I've switched to [DynaoDBLocal](http://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Tools.DynamoDBLocal.html) too
Also error message is really weird currently

which suggest that dynalite is aware of "KeyConditionExpression" and that filling it should work, but id doesn't

[2016-01-15 15:53] mhart commented on #24
@arvenil that error message just matches (exactly) what the error message is on production AWS DynamoDB instances – all error messages in dynalite aim to do the same.

[2016-01-15 19:51] mhart commented on #44
@Hiteshm01 You might be causing `dynalite` to crash somehow. Can you show me the code you're using?

[2016-01-15 20:22] Hiteshm01 commented on #44
@mhart Code is pretty naive and I doubt it would break anything. Refer this gist https://gist.github.com/Hiteshm01/ecba65996fa14fc0ec76

[2016-01-15 20:40] mhart commented on #44
Is that trying to connect using HTTPS?

[2016-01-15 20:48] Hiteshm01 commented on #44
No, but when I am running dynalite, it is taking IPv6 convention, which might be actual reason for failure
[code]
On trying similar stuff on another box, it was listning on 0.0.0.0
[code]
socket hang up error was common in both cases.

[2016-01-15 20:55] mhart commented on #44
@Hiteshm01 this works fine for me: https://gist.github.com/mhart/9141848bcc34ba9d9d8a

I think it might be something to do with all the http config stuff you're doing.

[2016-01-15 20:55] mhart commented on #44
And `Listening at http://:::4567` is fine – that shouldn't be a problem

[2016-01-15 20:57] mhart commented on #44
I also notice you're not using `http://` in the endpoint – again, I think the SDK might be trying to connect using HTTPS/SSL

[2016-01-15 21:01] Hiteshm01 commented on #44
I removed ```http:// ``` because it was throwing below error
[code]
while https ends in same socket hung up error.

@mhart Do you think aws-sdk version might be a difference? I am using 2.2.30.

[2016-01-15 21:04] mhart commented on #44
@Hiteshm01 no I don't think it's different – I honestly think it's all the weird http config stuff you're doing – you've got the agent set to be `httpsAgent` for example.

Perhaps just start with the default http settings, and then slowly add your own customisations until it fails, then you can figure out which config is causing it to error.

[2016-01-15 21:09] Hiteshm01 commented on #44
It was indeed that http config stuff which was causing issue. Starting from a clean slate worked.

Thanks for guidance. Much appriciated.

[2016-01-15 21:09] #44 closed

[2016-01-15 21:10] mhart commented on #44
No probs, glad you got it working! :+1:

[2016-01-17 22:30] #43 closed

[2016-01-17 22:30] mhart commented on #43
Thanks for the report @rclark ! Fixed and published as v0.17.3

[2016-01-20 11:33] mseiwald commented on #41
Does anyone know how to do this in JS? Passing waiter.interval in params does not work:

    { [UnexpectedParameter: Unexpected key 'waiter.interval' found in params]
      message: 'Unexpected key \'waiter.interval\' found in params',
      code: 'UnexpectedParameter',
      time: Wed Jan 20 2016 12:20:07 GMT+0100 (CET) }

[2016-01-20 13:37] mhart commented on #41
@mseiwald The SDK has `waitFor` for this purpose: http://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/DynamoDB.html#waitFor-property

[2016-01-20 15:10] mseiwald commented on #41
Sorry, if I was unclear. I already use `waitFor` but I don't know how to pass a custom poll interval.

[2016-01-20 15:20] mhart commented on #41
Right, that's a question for the AWS SDK team – I see you've already asked it over there so I'm sure they can help you out on that: https://github.com/aws/aws-sdk-js/issues/881

[2016-01-25 18:41] mlimaloureiro opened #45 "Cannot find module 'memdown'"
Hi guys,

I've a provision script that installs dynalite and it stopped working.

[code]

Seems something happened with `memdown` dependency. I've tested globally, and locally and it always asks for memdown.

Any ideas what's happening ?

Thanks

[2016-01-25 19:17] mhart commented on #45
@mlimaloureiro It's definitely specified as a dependency: https://github.com/mhart/dynalite/blob/c7f8705d4701920d159eb1c2a35da17c5da7e746/package.json#L31

Does `memdown` exist for you in `node_modules` after you've done an `npm install`?

[2016-01-25 19:21] mlimaloureiro commented on #45
yep, forgot to say that. it's in my node_modules folder. anyway just found out that if I update my npm version it works fine. so probly just that. just found it weird that it worked before

[2016-01-25 19:46] mhart commented on #45
@mlimaloureiro which npm version were you using before and what did you upgrade to?

I'm gonna close this now that you appear to have solved it – but if you find that it happens again, and it's somehow related to this module (and not npm itself), feel free to reopen

[2016-01-25 19:46] #45 closed

[2016-01-28 15:29] tiagobrito commented on #40
@mhart Do you have an ETA for this? I think that at this point the AWS dynamodb-local is probably more reliable than dynalite, it would be great to have your feedback.

[2016-01-28 16:38] mhart commented on #40
@tiagobrito I'd certainly love to know where dynalite is unreliable, please file issues for that.

The documentation was written for the version of dynamodb-local at the time, which was years ago, so probably doesn't apply to the latest version – I think AWS have fixed loads of bugs since then.

It was quite a lot of work to compare each feature, so this will have to wait until I (or anyone) has t

[2016-01-28 16:54] tiagobrito commented on #40
@mhart Don't undersand me worng. I didn't say it was "unreliable" in any part of my comment. My point is that the current statements that you have on documentation can be missleading at the current date.

[2016-01-28 17:06] mhart commented on #40
Er, that's splitting hairs. Ok, please let me know where dynalite is *less* reliable than dynamodb-local.

[2016-01-28 17:10] tiagobrito opened #46 "Dynalite doesn't validate if the attribute definition doesn't exist in the keyschema"
Reference:
http://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_CreateTable.html#DDB-CreateTable-request-AttributeDefinitions

[2016-01-28 17:11] tiagobrito commented on #40
I open this https://github.com/mhart/dynalite/issues/46 for example

[2016-01-28 17:14] mhart commented on #40
Cool, thanks! I'll look into it.

[2016-01-28 17:14] mhart commented on #46
Have you got an example of the error that DynamoDB returns?

[2016-01-28 17:17] tiagobrito commented on #46
It return this message: "The number of attributes in key schema must match the number of attributesdefined in attribute definitions."

[2016-01-28 17:18] mhart commented on #46
Can you clarify what the issue a little? Do you mean that you're providing attributes in `AttributeDefinitions` that aren't in `KeySchema`? Or vice versa?

[2016-01-28 17:20] mhart commented on #46
I have some tests for this already – so there must be a particular case that's missing there?

https://github.com/mhart/dynalite/blob/master/test/createTable.js#L370-L386

[2016-01-28 17:20] tiagobrito commented on #46
I'm providing `AttributeDefinitions` that aren't in the `keySchema`.

[2016-01-28 17:23] mhart commented on #46
@tiagobrito Can you give the exact JSON you're using? Those tests already have an example of the behaviour you're describing (eg, `a` and `b` are in `AttributeDefinitions` but `b` is not in `KeySchema`) – so there must be something I'm missing

[2016-01-31 20:11] mhart commented on #46
@tiagobrito would you be able to give me the exact JSON you're sending to the CreateTable call?

[2016-02-01 12:18] chook opened #47 "Add size calculations for new attribute types (M, L, NULL, BOOL)"
The DynamoDB API now supports more attributes such as Map, List, Null and Boolean.

[2016-02-01 13:38] mhart commented on #47
I added some support for this a while back, but not sure how far I got:

https://github.com/mhart/dynalite/blob/9f0dec303c8519c7edec184eabe42046c64847cb/validations/index.js#L45-L74

What issues are you seeing in particular?

[2016-02-01 13:54] chook commented on #47
I was reading the code and noticed lack of support here: https://github.com/mhart/dynalite/blob/master/db/index.js#L342

Since you haven't added anything to the README I figured the new attributes are NOT completely supported.

[2016-02-01 13:55] chook opened #48 "Dynalite is using a lot of RAM in LevelDB store (--path)"
After 5 days of not really extensive usage the RAM of the node process reached 12GB/16GB.

Perhaps you know if it's a known dynalite/leveldb/node issue?

[2016-02-01 13:58] mhart commented on #48
@chook were you using the default in-memory memdown option? If so, then yeah, that's expected (assuming you were adding a lot of data?)

If you add the `path` option then `dynalite` will create an on-disk LevelDB database that should alleviate this.

[2016-02-01 13:59] mhart commented on #47
@chook OK, have adjusted the issue title accordingly

[2016-02-01 14:00] mhart commented on #48
Ugh – sorry – didn't read the title, obviously

[2016-02-01 14:06] mhart commented on #48
I guess I can't really comment without knowing the details of how much data you've added – is it possible to create a reproducible test case that indicates dynalite might be leaking memory (instead of it just being leveldb using as large a resident size as it can)?

[2016-02-01 14:10] chook commented on #48
I will try to come up with a test. Thanks for checking in a replying! The project is waking up :dancer:

[2016-02-04 16:53] nchudleigh commented on #24
You should add a note about this in the readme.  Wasted a bunch of time getting this set up only to find this issue.

Great project, would love to be able to use it :)

[2016-02-16 03:35] letusfly85 opened #49 "putItem not work"
Hi, I'm using dynalite.

However, its `putItem` method doesn't work.

here is my code.... please see it.

[code]

stdout is below.

[code]

[2016-02-16 03:49] letusfly85 commented on #49
`IoTData`'s define is below.

[code]

[2016-02-16 03:51] mhart commented on #49
@letusfly85 what do you mean it doesn't work? What's not working in the example you gave?

[2016-02-16 04:07] letusfly85 commented on #49
@mhart  thank you for replying, I expected that I can register record, however I got empty map `{}`.

In our company, we want to use Dynalite as a CI tools for DevOps :smile:

[2016-02-16 04:42] mhart commented on #49
@letusfly85 right, but you haven't specified anything for `ReturnValues` – this is the same response you would get back from a live DynamoDB table.

Have a look at http://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_PutItem.html#DDB-PutItem-request-ReturnValues for more detail

[2016-02-16 04:44] letusfly85 commented on #49
@mhart Thank you, I'll try it :smile:

[2016-02-16 04:45] mhart commented on #49
@letusfly85 the item will have been put successfully (otherwise it would return an error) – if you need to retrieve the item for some reason, then use `GetItem`

[2016-02-16 04:45] #49 closed

[2016-02-16 05:08] letusfly85 commented on #49
@mhart

thanks for reference and `GetItem`, I got below.
I used `ALL_OLD` and got stdout of insert record, however when using `GetItem` I got `null`.

insert and get item script

[code]

below is stdout, I got ValidationException.. I'll search this cause.. thank you.

[code]

[2016-02-16 05:12] mhart commented on #49
@letusfly85 you should also note that the way you've written that code, there's no guarantee that the `putItem` call will finish before the `getItem` call is started, because you've written the calls synchronously – you need to have the `getItem` call in the body of the `putItem` callback – it's probably worth reading up on how callbacks work in JavaScript.

[2016-02-16 06:03] letusfly85 commented on #49
@mhart thank you, I'll search about callback.

below 2 way worked.

[code]

[code]

[2016-02-16 06:08] mhart commented on #48
@chook any news on this?

[2016-02-16 06:09] mhart commented on #46
@tiagobrito going to close this as I can't reproduce, but am happy to reopen if you can give me the JSON that caused your issue

[2016-02-16 06:09] #46 closed

[2016-02-23 15:04] chook opened #50 "Problem with query while ScanIndexForward is false"
Querying a hash backwards results in
com.amazonaws.AmazonClientException: Unable to execute HTTP request: Read timed out
        at com.amazonaws.http.AmazonHttpClient.executeHelper(AmazonHttpClient.java:471) ~[aws-java-sdk-core-1.9.14.jar:na]

I tracked the code to this line:
https://github.com/mhart/dynalite/blob/master/actions/query.js#L108

Does that mean at a certain point a table is too big

[2016-02-23 22:38] mhart commented on #50
I have no idea – how big is the table in question? Can you just adjust the timeout on the SDK side?

[2016-02-24 10:48] deitch commented on #24
This project is great, and much better for my testing environment than DynamoLocal from AWS. But the `KeyConditionExpression` and similar of the newer syntax are important. +1

[2016-02-29 13:27] sarxos opened #51 "Error: Cannot find module 'memdown'"
Hello @mhart ,

I'm on Ubuntu 14.04 and following these steps:

[code]

And getting:

[code]

I've executed  ```sudo npm install -g memdown``` as well, but it didn't help.

The ```npm``` version:

[code]

And node version:

[code]

It would be great if you have some ideas of how this could be resolved.

[2016-02-29 13:28] sarxos opened #52 "Either the KeyConditions or KeyConditionExpression parameter must be specified"
Hello @mhart,

At the very beginning I would like to thank you for the awesome tool!

Now lets go to the problem description. I'm using [this docker](https://github.com/vsouza/docker-dynamoDB-local/blob/master/Dockerfile) to start ```dynalite```. The AWS SDK is the newest one available from Maven Central. To reproduce this case I'm using [1.10.56](http://search.maven.org/#artifactdetails|com.amazo

[2016-02-29 13:31] sarxos commented on #52
After I created this ticket I found out that it may duplicate #24.

[2016-02-29 13:43] mhart commented on #51
Did you install it first with an old version of npm? There are some bugs with npm v1.x – which, given your very old version of Node, may have been installed initially before you upgraded to npm v3.x

Try `npm cache clean` and then install again and see how you go.

[2016-02-29 13:46] mhart commented on #52
Yep, it is a duplicate of #24 – those newer properties are not supported yet (they require writing a parser for all the supported query syntax, which is quite an undertaking).

[2016-02-29 13:46] #52 closed

[2016-02-29 14:21] sarxos commented on #51
Hi @mhart,

Thank you for your support! I confirm that everything is working well after removing and installing again nodejs and all node modules.

For the users who experience the same issue - below is full procedure I followed:

I removed nodejs by:

[code]

And then removed global ```node_modules``` by:

[code]

Then I re-installed nodejs:

[code]

The ```npm```:

[code]

And dynalite:

[code]

[2016-02-29 14:21] #51 closed

[2016-02-29 14:24] sarxos commented on #52
Ok, it's good to know :) Thank you!

[2016-02-29 14:39] mhart commented on #51
I'd also consider using a newer version of Node.js to be honest – the v0.10 line is 3 years old now and will become increasingly rarer. v4.x is the LTS release and can be installed on Ubuntu like so:

[code]

Instructions for various distros here: https://github.com/nodesource/distributions

[2016-03-11 07:05] martindavid commented on #24
@mhart have you start developing on this?? I must go back to `dynamodb-local` to have that expression.

[2016-03-11 22:18] rclark opened #53 "Configurable max record size"
While DynamoDB's documented limit is 400kb, it is possible to request an increase. Could dynalite allow for a configurable max record size to accommodate testing systems where this limit has been increased?

[2016-03-28 17:51] rclark commented on #53
For now I'm circumventing the issue via

[code]

... which feels a little icky.

[2016-03-28 17:59] mhart commented on #53
Yeah, I mean... that's pretty close to what I'd do anyway. Do you want it to be available via the CLI, or just programmatically?

[2016-03-28 18:31] rclark commented on #53
I imagined programmatically, similar to `deleteTableMs` configuration options. It was clear though, that such an adjustment would really wreck havoc on how modules depend on each other internally.

This approach works for now, but it feels like reaching behind the curtains -- I can't honestly depend on the file-system structure as part of the API.

[2016-03-28 19:57] mhart commented on #53
Yeah, np – I'll take a look at it once I'm done with all the Expression stuff, which is a monster.

[2016-03-28 20:01] rclark commented on #53
Yeah it is, and support will also be incredibly useful. Thanks in advance.

[2016-04-07 22:00] stevecaldwell77 commented on #24
+1

[2016-04-14 16:12] mhart commented on #23
Just completed this in 76d0ba7aefd98eb30da4b2cd838fccf9e37c56f6 – published as v0.18.0

[2016-04-14 16:13] #23 closed

[2016-04-14 16:13] mhart commented on #24
Just completed this in 76d0ba7aefd98eb30da4b2cd838fccf9e37c56f6 – published as v0.18.0

[2016-04-14 16:13] #24 closed

[2016-04-14 16:13] mhart commented on #25
Just completed this in 76d0ba7aefd98eb30da4b2cd838fccf9e37c56f6 – published as v0.18.0

[2016-04-14 16:13] #25 closed

[2016-04-14 16:14] mhart commented on #50
@chook any word on this?

[2016-04-14 16:15] mhart commented on #48
@chook any news on this?

[2016-04-14 16:47] chook commented on #50
Hi @mhart - you specifically say that reverse scanning is not optimized so we just stopped using it :) any thoughts when you might come back and implement it?

[2016-04-14 16:48] chook commented on #48
sadly this hasn't reproduced, I'll reopen if i have a test case.. thanks!

[2016-04-14 16:48] #48 closed

[2016-04-14 16:55] mhart commented on #50
It's not something particularly high on the TODO list – it should function correctly which is the main priority for a mock DB – if you can find a specific set of params that break it, then file another issue.

If it was a performance issue, then I'm guessing the table in question must have been really large? Basically it just falls back to a full table scan in these cases – so it shouldn't be any

[2016-04-14 16:55] #50 closed

[2016-04-14 19:57] tmbull opened #54 "Unable to create GSI indices in 0.18.0"
In `0.17.4` I was able to create a global secondary index with the following configuration:

Name: "ResourceId-SourceId-index"
Partition Key: "ResourceId"
Sort Key: "SourceId"
Projected Attributes: All
Read/Write capacity: 20/20

in `0.18.0` this operation fails with a `400` error and the following error message:

[code]

We are using the Haskell `aws` library, but I do not think that is part of t

[2016-04-14 19:59] dmjio commented on #54
+1

[2016-04-15 01:30] mhart commented on #54
Ouch, ok, looking into this – sorry for the breakage

[2016-04-15 02:09] #54 closed

[2016-04-15 02:12] mhart commented on #54
Should be fixed in 0.18.1 – please let me know if you have any issues!

(seems like this was missed because the haskell aws client specifies a bunch of attributes that are already defaults, and there weren't enough tests testing what should happen when these defaults are actually supplied!)

[2016-04-15 19:45] tmbull commented on #54
@mhart I tested this today, and my issue is indeed fixed. Thanks for getting to it so quickly!

[2016-04-15 20:06] dmjio commented on #54
Thanks @mhart!

On Fri, Apr 15, 2016 at 2:45 PM, Tristan Bull <notifications@github.com>
wrote:

--
Cell: 1.630.740.8204

[2016-04-17 02:13] #47 closed

[2016-04-17 02:13] mhart commented on #47
Fixed as of v0.18.3

[2016-04-17 08:30] chook commented on #47
👍

[2016-04-17 08:53] chook commented on #50
thanks for commenting @mhart - is it possible to have a quick chat with you privately? you can find me at chook (dot) harel at gmail - highly appreciated.

[2016-04-17 18:45] #53 closed

[2016-04-17 18:45] mhart commented on #53
Added this in v0.19.0 – let me know if there are any other configurable limits that you can request an increase on that would be worth including like this

[2016-04-17 18:46] mhart commented on #53
(added as `maxItemSizeKb` btw)

[2016-04-26 08:41] sshquack opened #55 "Validate between and raise error"
Hello @mhart,

Thank you for creating Dynalite!

While testing against DynamoDB and Dynalite, I noticed an inconsistency in validating the `BETWEEN` key condition expression values.

Steps to validate the issue:

Sample Table schema:
[code]

Add two items with ranges 0 and 1 under the same hashKey "hello":
[code]

Query the table using `BETWEEN` range `0 and 1`:
[code]

 | Status | Output
----|---

[2016-04-29 20:00] #55 closed

[2016-04-29 20:03] mhart commented on #55
Thanks for looking into this @sshquack – you're right that I wasn't checking those boundary conditions – this is now fixed and published as v0.19.1

[2016-04-29 20:07] mhart commented on #40
This has been updated as of v1.0.0

[2016-04-29 20:07] #40 closed

[2016-04-29 20:08] mhart commented on #27
Added in v1.0.0

[2016-04-29 20:08] #27 closed

[2016-04-29 20:09] mhart commented on #50
Queries now use proper LevelDB ranges as of v1.0.0

[2016-05-06 17:15] databank opened #56 "putItem { ReturnValues: "UPDATED_OLD" } issue"
Hi,

first of all, thank you for this npm module,

Im using dynalite for "npm test" and I'm seeing differences between AWS and dynalite when using
putItem and "ADD"

# dynalite
[code]
returns
[code]

# AWS
[code]
returns
[code]

[2016-05-06 17:51] mhart commented on #56
Hmm, are you sure you're using `PutItem`? The API doesn't allow you to update attributes with `PutItem`, it just replaces the whole object: http://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_PutItem.html

Is this `UpdateItem` perhaps? I'll look into it

[2016-05-06 19:57] #56 closed

[2016-05-06 19:58] mhart commented on #56
Found it! It was a problem in `UpdateItem` – thanks for spotting this. I've fixed it in v1.0.1

[2016-05-06 21:07] databank commented on #56
yes, updateItem sorry, thanks for the fix!

[2016-05-06 22:11] databank opened #57 ""ADD action is not supported for the type L""
Seems like dynalite is not supporting ADD to an List and throws
[code]

payload used

[code]

[2016-05-06 22:14] mhart commented on #57
That's correct, you can't perform an `ADD` on to a list type – only numbers and set types.

[2016-05-06 22:14] #57 closed

[2016-05-06 22:15] mhart commented on #57
You can use the `list_append` function in the `UpdateExpression` to achieve this if you want though: http://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_UpdateItem.html#DDB-UpdateItem-request-UpdateExpression

[2016-05-06 22:15] databank commented on #57
any plans to support it in the future ?
AWS do support it !

[2016-05-06 22:21] databank commented on #57
UpdateExpression should do it!

[2016-05-06 22:24] mhart commented on #57
Huh, I just checked and you're right – the documentation only says it supports numbers and sets, but when I try it on DynamoDB it seems to work. I'll update it so that `ADD` works with type `L` (and I assume `DELETE` too)

[2016-05-06 22:48] mhart commented on #57
OK, so I've updated it so that `ADD` works with `L` types – just as it does on the live DynamoDB instances.

Thanks for finding this, I had no idea this was supported!

[2016-05-23 10:16] fortiema commented on #24
﻿﻿Hi there, and thanks for open-sourcing this great tool!

Sorry to reopen this conversation, but after running a few tests today, it seems to me like the _KeyConditionExpression_ parameter is ignored when sending a Query to Dynalite (those queries work just fine with both AWS DynamoDB and DynamoDB Local). I get back the ubiquitous error message:

Using the legacy _KeyConditions_ of course works j

[2016-05-23 13:00] mhart commented on #24
@fortiema hmmm, that sounds odd. So firstly, try using the latest version (v1.0.2) – and secondly are you sure you're using `KeyConditionExpression`?

Can you show me the code you're using to call it?

[2016-05-24 14:30] vandanagaikwad commented on #24
hey hi, we are getting more than 100 items using scan() API with IN logical operator in FilterExpression, it works fine for less than 100 records. But as the records increases more than 100, it gives error like
{
  "message": "Invalid FilterExpression: The IN operator is provided with too many operands; number of operands: 222",
  "code": "ValidationException",
  "time": "2016-05-24T14:03:14.844Z"

[2016-05-24 14:35] mhart commented on #24
@vandanagaikwad how are you getting this error? Can you show the code you're using (and which API)?

[2016-05-25 05:22] vandanagaikwad commented on #24
Actually I am getting the array of matching u_ids dynamically from one table e.g.cnc_codes table and using those to get user details in dynamodb.scan() API with logical operator IN in FilterExpression from cnc_users table, bellow is my code

var filterExp = "#k_source =:source ";
        var expAttrNames = {
                '#k_source': 'k_source'
            };
        var expAttrValue = {

[2016-05-25 05:42] vandanagaikwad commented on #24
Sorry I am mapping the data returned from cnc_codes table i.e. from 1st scan operation to second scan operation to get user details

[2016-05-25 13:19] mhart commented on #24
@vandanagaikwad I'm a bit confused – are you using this project?

[2016-05-25 13:20] vandanagaikwad commented on #24
Yes, I am using this project, Is their anything wrong? Please suggest

[2016-05-25 13:21] mhart commented on #24
@vandanagaikwad how are you starting `dynalite`?

[2016-05-25 13:22] vandanagaikwad commented on #24
Ohh you are talking about dynalite project, sorry I am not using this

[2016-05-25 13:23] mhart commented on #24
@vandanagaikwad this is the `dynalite` project

[2016-05-25 13:23] SamVerschueren commented on #24
@vandanagaikwad then why are you asking it here?

[2016-05-25 13:26] vandanagaikwad commented on #24
Sorry for that, I just want to get suggestion from @mhart so I asked here

[2016-05-25 13:27] mhart commented on #24
@vandanagaikwad for support on DynamoDB, best to ask over at the Amazon forums: https://forums.aws.amazon.com/forum.jspa?forumID=131

[2016-05-25 13:28] vandanagaikwad commented on #24
Thanks :)

[2016-05-25 13:29] SamVerschueren commented on #24
But if you are not using `dynalite`, you are basically asking for `DynamoDB` support. Either ask it on StackOverflow or on the Amazon support forums.

Sorry if this sounds rude (not intended), but people (not only you) should stop wasting time from project maintainers with support questions. GitHub issues are meant for **issues** regarding the **project**. If you need support, use the channels tha

[2016-05-25 13:40] mhart commented on #24
@SamVerschueren I think @vandanagaikwad just made a mistake and is probably a bit of a GitHub newbie

[2016-05-25 13:44] SamVerschueren commented on #24
@mhart Sorry for the rude reply. It just happened to me quite often lately which is quite frustrating. But I understand, we all started as an OSS newbie :). No hard feelings.

[2016-05-25 13:47] mhart commented on #24
No probs 👍  I definitely get frustrated on GH too sometimes – I find Twitter can be good therapy for that 😸

[2016-05-25 14:24] vandanagaikwad commented on #24
Yes, sorry for that as I am new for GitHub, that's why I didn't know that only project related issues are posted here. It happened by mistakenly I am extremely sorry for wasting your time(I have not did it intentionally).

[2016-05-25 14:25] SamVerschueren commented on #24
@vandanagaikwad No problem, it's ok :beers:

[2016-05-31 06:49] fortiema commented on #24
@mhart Tried also on 1.0.2, in vain.

Sure, here's the example (using boto3 client API):
`results = dynamodb.query(
    TableName='test',
    KeyConditionExpression='id = :pid1',
    ExpressionAttributeValues={
        'pid1': {'S': '208eca87-75f0-485d-b7e9-66d384566869'}
    },
    ReturnConsumedCapacity='TOTAL'
)`

Without _ExpressionAttributeValues_, result is the same:
`results = dynamodb.quer

[2016-05-31 12:24] mhart commented on #24
@fortiema how very odd – does boto have like a "verbose" option where it will output the JSON it's sending to the server?

[2016-05-31 12:58] mhart commented on #24
@fortiema actually, I think I've just reproduced with the AWS CLI, lemme check what the problem is

[2016-05-31 13:11] mhart commented on #24
@fortiema nope, false alarm – I just wasn't using the CLI correctly 😄

This works just fine for me (which uses Boto under the hood):

[code]

[code]

The first example you've got there should actually fail with the error (`ExpressionAttributeValues contains invalid key: Syntax error; key: "pid"`) because you need to prefix it with a colon.

Your second example should fail with a syntax error in th

[2016-05-31 13:15] mhart commented on #24
@fortiema Are you sure you're using boto correctly? The [syntax in the docs](http://docs.aws.amazon.com/amazondynamodb/latest/gettingstartedguide/GettingStarted.Python.04.html) looks a little different:

eg:
[code]

[2016-06-01 00:49] fortiema commented on #24
@mhart Indeed there was a typo in my first example, but as you can guess it is not affecting the outcome:

By the way, the last example you showed is from a different API (Table API, I am using the lower-level Client API), but to be exhaustive, yes I also tried using the Table API previously - Same results.

Actually, I even tried using the Java SDK:

[code]

Again, all these examples are working

[2016-06-01 01:01] fortiema commented on #24
Here's the request object formed by boto3:

[code]

Here's the debug log when sending that request:

[2016-06-01 04:04] mhart commented on #24
@fortiema are you really really sure you're using the latest version? It really doesn't make sense that that error can occur with any version > v1.0.0

Can you just double check that you've got it installed in the place that you're running it. Are you installing with `npm install -g dynalite`? Or are you installing and running `./node_modules/.bin/dynalite` locally?

[2016-06-02 10:27] fortiema commented on #24
@mhart Seems that there was indeed confusion about which versions of Dynalite were deployed (we are using them in Dockers and I didn't double-check) - It was only running v1.0.0.

We've now tested extensively on 1.0.2 where the issue seems indeed to be resolved.

Sorry for the confusion created (makes me feel a bit stupid!), and thanks for your kind help!

[2016-06-22 12:38] lukiano opened #58 "describeTable does not return an ACTIVE status"
I'm using dynalite, and when I create a table and then call describeTable, I'm always getting a CREATING status, even after 40 seconds (max I tried) after the createTable was issued.

[2016-06-22 12:58] mhart commented on #58
@lukiano can you give me some more details on how you're using dynalite, and the client code you're using to check this?

[There are tests](https://github.com/mhart/dynalite/blob/master/test/createTable.js#L1155-L1174) to ensure CreateTable results in an ACTIVE status and they're currently passing, so I suspect it's something to do with your setup or your DynamoDB client.

[2016-06-22 13:20] lukiano commented on #58
Hmm, I just tried the test in a different machine and it passed. Let me do some more tests and if my computer is faulty in some way, then I'll close this. Thanks for the prompt response

[2016-06-23 05:54] lukiano commented on #58
What happens is that the AWS SDK for Node.JS caches the result of describeTable. The first time going to dynalite it returned a CREATING status, but then dynalite changed to ACTIVE, but the describeTable method was still returning CREATING.

[2016-06-23 05:54] #58 closed

[2016-06-23 11:57] mhart commented on #58
@lukiano woah, really? Is that documented somewhere? It doesn't seem to be mentioned in the normal docs: http://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/DynamoDB.html#describeTable-property

[2016-06-23 13:20] lukiano commented on #58
We attached a proxy sniffer and no requests were being sent to dynalite after the first one

[2016-06-23 13:31] mhart commented on #58
@lukiano I suspect there's something up with your code. The following works just fine for me (using the AWS SDK):
[code]

If I save this to a file and run it I get:
[code]

[2016-06-23 13:37] mhart commented on #58
Perhaps you're binding some state in a closure or memoizing accidentally?

[2016-08-07 13:37] databank opened #60 "delete table return object differs from AWS"
Hi Mhart and thanks for the good work,

Just so you know, the delete table return some extra info compared to AWS:

AWS:
[code]

then dynalite ( I removed the extra info just kept the keys )
[code]

not a real problem-causing issue though 😄

[2016-08-07 13:39] mhart commented on #60
@databank oh, this is good to know! I never thought about checking exactly what properties they omit from the table description in the delete response.

I'll fix this 👍

[2016-08-09 12:23] lukiano opened #61 "Query on LSI returns incorrect results"
I create a table with columns A, B, C where A is hash key, B is range key, and there's also a local index with A as hash key and C as range key.
Then I insert some rows having all 3 columns (and a few more)
Doing a query on the local index, using A = 'a' and C <= 'c' is returning incorrect results (empty results in my case).
If I do C = 'c', then it returns correct results.
Also, doing the inequal

[2016-08-09 17:29] mhart commented on #61
Hmmm, that doesn't sound good!

So you're using [Query](http://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_Query.html) – are you using `KeyConditionExpression` or `KeyConditions`? Any chance you can post the full Query JSON request you're using?

[2016-08-09 21:58] lukiano commented on #61
[code]

[2016-08-09 21:58] lukiano commented on #61
CollectionId is the hash key for both the table and the local index.  InsertedAtSequenceId is the range key for the local index

[2016-08-10 00:24] mhart commented on #61
Cool, thanks! 👍  I'll check this out tomorrow

[2016-08-10 19:49] #61 closed

[2016-08-10 19:50] mhart commented on #61
@lukiano thanks for reporting this! Was able to reproduce easily – not sure why I didn't have a test for this!

Anyway, I do now – and it's fixed in v1.0.3

[2016-08-11 00:40] lukiano commented on #61
Yay! You're quick!

[2016-08-31 20:33] mcwhittemore opened #62 "Support UnprocessedItems on batchWriteItem and batchGetItem"
When using `dynalite` to test libraries there is no good way to confirm that the library being tested handles `UnprocessedItems` correctly without rolling your own request handler. It would be cool if there was a way to tell dynalite to not processes items either via a key or some other method as long as that method was constant.

Is this something you'd be interested in adding to dynalite @mhart?

[2016-09-07 10:29] howardchen0830 opened #63 "Can't delete big tables via either cli nor js"
Hi mhart,

First of all, thanks for your effort on this project, this helps a lot when we do some test in local env, but we also meet some issues here.

As creating/deleting global secondary index is still in your to do list, so I need to delete the table and recreate it to update index, but when I want to delete a big table ( about 30+ GB), I tried cli and got this error message even I set timeou

[2016-11-26 16:44] chook opened #65 "Update LevelDB/UP/DOWN"
Taking a look at the current state of LevelUP/DOWN it seems a worthy update to DOWN as LevelDB has been updated to 1.19 (after 2 years).

It seems LevelDOWN has upgraded its dependencies to async 2+ so perhaps it's not immediate.

[2016-12-07 07:50] mariusgrigaitis opened #66 "Add support for Dynamo Streams"

[2016-12-27 06:10] ieiayaobb opened #68 "Object.keys called on non-object"
When I called updateItem, it will occur
[code]

then it crashed

[2016-12-27 15:12] mhart commented on #68
@ieiayaobb how are you calling `updateItem`? I'm wondering if you're passing in an attribute value that's not in the correct DynamoDB form (eg, `"hello"` instead of `{S: "hello"}`)

In any case, it shouldn't crash – so there's obviously a bug there – would just be good to know how you triggered it

[2016-12-28 03:33] ieiayaobb commented on #68
@mhart I'm using dynamodb mapper(Java SDK from AWS) to execute a 'save' operation.
[code]
Here is the exception stack, I'm not sure whether it is helpful

[2016-12-28 03:39] mhart commented on #68
@ieiayaobb hmmm, not really – ideally I'd be able to see the actual JSON call that the SDK is making to dynalite – any way to show that?

[2016-12-29 09:53] ieiayaobb commented on #68
Seems when getting 'actualType' from 'attributeUpdates', if this operation is a 'DELETE' action, it will get 'undefined' value.

[2016-12-29 17:01] #68 closed

[2016-12-29 17:09] mhart commented on #65
Thanks for the nudge! Just updated all deps (including async, may as well bite the bullet) and published as v1.1.0

[2016-12-29 17:09] #65 closed

[2016-12-29 17:13] mhart commented on #68
Thanks for reporting! Fixed in v1.0.4

[2017-01-18 17:46] danthegoodman commented on #62
@mhart I'd like to see this happen too. Do you have any ideas on how you want to make this happen? I'm thinking that an additional startup option could be provided, like `maxBatchGetSize` or `maxBatchGetItem`.

[2017-01-18 17:54] mhart commented on #62
`dynalite` does try to emulate DynamoDB in terms of maximum retrieval size – it will put any items that are beyond the max allowed response size in `UnprocessedItems`

(`maxItemSizeKb` is configurable)

See here for more details:

https://github.com/mhart/dynalite/blob/aa510f0ddf586a1a3f71c25317a0f8b9ea46687d/actions/batchGetItem.js#L24

So you should be able to trigger this by putting and getting

[2017-01-26 01:22] danthegoodman commented on #62
@mhart Sweet! After getting your message I added a couple of tests that got really big items and saw that my unprocessed items code was getting triggered! Thanks for implementing my request before I even asked! ;)

[2017-01-26 01:42] mhart commented on #62
@danthegoodman glad to hear it! @mcwhittemore let me know if that tip covers your use case too

[2017-01-26 01:49] mcwhittemore commented on #62
@mhart - If I'm reading this right, `UnprocessedItems` works in query mode. What I'm looking to test is BatchWriteItem requests which get throttled and end with some things written and some things in UnprocessedItems.

I don't think this is covered from what I'm reading above.

[2017-01-26 02:17] mhart commented on #62
@mcwhittemore you're right, `BatchWriteItem` isn't covered

[2017-02-06 15:27] qumingxing opened #71 "The getLastEvaluatedKey object returned by the secondary index query is incorrect"
Hi mhart,

I have a problem,when the query according to the secondary index in the getLastEvaluatedKey only return to the global hashkey,then use this getLastEvaluatedKey object once again to get an error.

In fact AWS DynamoDB will return to global hashkey and the secondary index attribute key-value and so on.

[2017-02-06 16:02] mhart commented on #71
@qumingxing I'm sorry, I don't understand what you mean.

Can you show me some code to illustrate?

[2017-02-07 02:00] qumingxing commented on #71
Hi mhart,
Thanks for your answer,I have found the cause of the problem.
Sorry I'm mistake.

[2017-02-07 14:33] qumingxing commented on #71
Hi mhart,

Thanks for your answer.Here is a code example:
[code]

1. This code works fine in DynamoDB Local.
2. But in dynalite throw exception "com.amazonaws.AmazonServiceException: The provided starting key is invalid" when second for loop execution,and if remove "withProjectionExpression("history_id,created_at,history_params,history_type,history_source")" is ok,I don't  know what the cause is.

[2017-02-07 14:48] mhart commented on #71
@qumingxing great – can you also show me the configuration for the table? what does the `user_id_group-deleted_created_at` index look like?

[2017-02-07 15:07] qumingxing commented on #71
@mhart
This is my table structure:

AttributeName|KeyType
------------ | ------------- |
history_id  |	HASH

Index Name |  Index Type | Hash Key | Range Key
------------ | ------------- | ------------- | -------------
user_id-deleted_created_at|	          Global|	        user_id|	             deleted_created_at
user_id_type-deleted_created_at|	  Global|	        user_id_type|	     deleted_created_a

[2017-02-07 15:56] mhart commented on #71
@qumingxing great, ok thanks – I'll look into this and see what I can find 👍

[2017-02-24 06:20] swimablefish opened #72 "query with GSI return nothing (when using ALL_PROJECTED_ATTRIBUTES)"
Here is the index info in the table:

[code]

And I use boto3 to query the table, it return nothing. If I query the real dynamodb, it can return the relevant items:

[code]

[2017-02-24 14:07] JoshTumath opened #73 "Callbacks get fired too early when using AWS.DynamoDB.createTable"
## Steps to reproduce
Try running the following script with dynalite running on port 4567:

[code]

When this script is run, we get `ResourceNotFoundException: Requested resource not found`

## Problem
When using `createTable`, the callback is fired instantly rather than after the table is created. As a result, the `put` method in the example above is being called before the table even exists.

[2017-02-24 18:28] mhart commented on #72
Hmmm, it seems that `ALL_PROJECTED_ATTRIBUTES` isn't implemented yet – will change the title of this and update you when I've gotten it working

[2017-02-24 18:32] mhart commented on #73
Right – DynamoDB tables aren't created immediately (well not so that you can put items in them) and you'll need to ensure that your code deals with this. The production version of DynamoDB will return from the callback immediately as well.

The table will be in the `CREATING` state when it's first created. By default, `dynalite` keeps the table in this state for 500 milliseconds – although product

[2017-02-24 18:32] #73 closed

[2017-02-24 18:36] mhart commented on #73
BTW – the JS SDK has methods for this that you might want to use: http://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/DynamoDB.html#tableExists-waiter

[2017-02-24 19:24] JoshTumath commented on #73
I didn't realise DynamoDB was the same. Thanks for the very useful links in your response! 👍

[2017-02-27 01:49] swimablefish commented on #72
even don't use `Select` parameter still return nothing

[2017-02-27 08:10] swimablefish commented on #72
Sorry, It seems our program's problem, which is used to create table. Although it create GSI, it doesn't take effect. When I use boto3 to create tables, it works. The query can return the data I expect.

[2017-02-28 03:28] swimablefish commented on #72
Clarify the scenario. It happens when there are multiple GSIs in a table. The query only returns result when use the first GSI,  or it will return nothing

[2017-02-28 03:29] mhart commented on #72
@swimablefish can you show me the full table definition you're using?

[2017-02-28 03:53] swimablefish commented on #72
Here is the code. If I want to query index3, I need to put index3 as the first gsi

[code]

[2017-02-28 09:18] swimablefish commented on #72
found the problem:
1.  in `getIndexActions`, local var `item` is modified which is incomplete to the other GSIs besides the first GSI
2. some data don't have the range key when insert

[2017-02-28 12:56] mhart commented on #72
@swimablefish sorry, I don't understand what you mean with 1 – can you explain?

[2017-02-28 15:51] swimablefish commented on #72
https://github.com/mhart/dynalite/blob/master/db/index.js#L908,L922

If there are two GSIs: `hash=a, range=b`, `hash=c, range=b`, initial item = `{a: 1, b: 2, c: 3}`.
After the first round, the item will be `{a:1, b:2}`, then the second round it can't find key `c`, so it won't create the index data for the second GSI

[2017-02-28 17:09] mhart commented on #72
@swimablefish ahhhh, gotcha – right, yeah, stupid reuse of the variable there. Nice find!

[2017-02-28 17:21] #72 closed

[2017-02-28 17:22] mhart commented on #72
@swimablefish I just released v1.1.2 which address the variable reuse problem.

Can you explain the other issue you're seeing? I noticed that you opened #74 but unfortunately it's failing a bunch of tests. If you can add a test case in there that illustrates the problem you're seeing, that would be helpful

[2017-02-28 17:52] pags opened #75 "`server.close` does not clean up data"
I'm not sure what expected behavior is, but closing the Dynalite server doesn't actually tear down any data created during the server's life.

I can't find a place where access to the underlying `db` object is provided, so manual cleanup seems to not be an option.

I did trying requiring memdown externally and calling `clearGlobalStore`, but that seems to put things in a weird state.

[2017-02-28 17:54] pags commented on #75
Additionally, trying to manually delete\recreate each table doesn't seem to work either - on query of the recreated tables, previously created data is returned.

[2017-02-28 17:59] mhart commented on #75
@pags `server.close` isn't intended to delete data, just close the server (especially important when using an on-disk LevelDB store)

If you're doing this in memory, it's probably easiest just to create a new server each time?

[2017-02-28 18:01] mhart commented on #75
@pags can you show me what errors you're getting when you delete and recreate tables? There are many tests for this, so that sounds like a bug

[2017-02-28 18:05] pags commented on #75
Thanks for the quick reply...I suspected what you're saying about `close` functionality.

Interestingly enough, I tried doing what you suggest - calling `close` on existing server, then creating a new server running on the same port...using `aws-sdk` to query, I still get old data.  I don't think `aws-sdk` includes any sort of cache by default (and certainly haven't had this issue running against

[2017-02-28 18:09] mhart commented on #75
Hmmm, can you show me a snippet of what you're doing? A new store is created each time the server is instantiated: https://github.com/mhart/dynalite/blob/master/index.js#L23

Unless `memdown` is stateful in some way...? https://github.com/mhart/dynalite/blob/master/db/index.js#L48

[2017-02-28 19:06] mhart commented on #75
Actually, I think it might be stateful – if `location` is provided (which it is), then the global store is used... https://github.com/Level/memdown/blob/master/memdown.js#L126

I believe I added the `'/does/not/matter'` on this line many moons ago because without it levelup/memdown used to crash – but maybe it's better if I get rid of it so that it doesn't use the global store.

Can you try and se

[2017-03-01 02:27] pags commented on #75
Changing that lines seems to result in the same "weird state" that I experienced when calling `clearGlobalStore` directly on memdown (I mentioned this in my first comment but didn't elaborate).  What happens is that after stopping the existing server, when I create\start a new server and then recreate each of my tables (and verify their existence by polling with `describeTable`), I get "ResourceNo

[2017-03-01 02:44] pags commented on #75
Scratch previous comment, I _was_ doing something completely wrong.  Your line change seems to have fixed the issue.  Awesome.

[2017-03-01 20:18] pags commented on #75
Any chance of that change landing in the near-term?

[2017-03-01 20:33] mhart commented on #75
@pags yup, good chance

[2017-03-01 22:28] #75 closed

[2017-03-01 22:29] mhart commented on #75
Published as v1.2.0 – thanks for looking into this!

[2017-03-01 22:29] pags commented on #75
No problem, thanks for the quick turnaround

[2017-03-06 06:02] jinghuaz opened #76 "When can support stream with dynalite?"
Our test env most use dynalite,other use local dynamodb,but we want all use dynalite,so what time can support stream with dynalit. it is so cool!!!

[2017-03-06 14:08] mhart commented on #76
Hi @jinghuaz – this is already being tracked in #66 – thanks!

[2017-03-06 14:08] #76 closed

[2017-03-06 14:38] swimablefish commented on #72
@mhart our data might not have the range key when is inserted, so they will be filtered by current logic, so I only check the hash key
https://github.com/mhart/dynalite/blob/master/db/index.js#L911  ,
https://github.com/mhart/dynalite/blob/master/db/index.js#L924 ,

and
https://github.com/mhart/dynalite/blob/master/db/index.js#L243

In our cases, the `item[attr]` might be `undefined`

okay, I will

[2017-04-05 02:00] jinghuaz opened #77 "Restore data very slowly please help"
I now encounter a little trouble, I have from the awsdump table of data, now restored to the local dynalite very slow, I use the java program to write inside, is there any way to help me? Optimized at the speed of write recovery？Capacity of about 3T
Tks a lot.

[2017-04-06 05:19] jinghuaz commented on #77
hi mhart， can you help me?~  thank you very much.

[2017-04-06 13:32] mhart commented on #77
@jinghuaz are you saying you're trying to load 3TB of data into dynalite?

[2017-04-06 15:14] jinghuaz commented on #77
yup，sure.because we want dump from AWS ,then restore to dynalite. For local index,so,i want to talk about you and hope you can help me do this.now dump is very fast,but restore very slow,3 or 4 k/s.another you can tell me your weixin or facebook?

[2017-04-06 15:17] jinghuaz commented on #77
@mhart,I want to know how can quickly restore or write to dynalite. LevelDB?

[2017-04-06 15:34] mhart commented on #77
@jinghuaz right, dynalite uses [levelup](https://github.com/Level/levelup), which can use LevelDB if you specify `--path` when you start it (by default it's just in-memory)

dynalite uses [sublevel](https://github.com/dominictarr/level-sublevel) to break the LevelDB into sub-tables for each of the DynamoDB tables and indexes. You can see how that structure works here:

https://github.com/mhart/dyn

[2017-04-19 02:18] jinghuaz commented on #77
@mhart Do you have a webchat account?

[2017-04-20 09:49] chessIthaca opened #78 "create table promise resolves before table is created."
The following code fails with resource not found:

           dynDb.createTable(
            {
              TableName : DeltaDatabase.CustomerTable,
              KeySchema: [
                  { AttributeName: "name", KeyType: "HASH"},  //Partition key
              ],
              AttributeDefinitions: [
                  { AttributeName: "name", AttributeType: "S" },
              ],

[2017-04-20 12:50] mhart commented on #78
Hi @chessIthaca – this is intended (and what happens in the real DynamoDB). See this issue for more: https://github.com/mhart/dynalite/issues/73

[2017-04-20 12:50] #78 closed

[2017-04-27 02:34] jinghuaz opened #79 "Whether to support adding indexes or deleting table rebuilds？"
@mhart Dynalite can not support online indexing, does not support the deletion of tables?

[2017-04-27 02:38] mhart commented on #79
Are you referring to https://github.com/mhart/dynalite/issues/26 ?

Deleting tables is supported

[2017-06-13 23:41] ddearing opened #80 "CONTAINS does not support Lists"
According to the AWS documentation (and field testing), the conditional CONTAINS supports Lists., but dynalites implementation does not.

http://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_Condition.html

"CONTAINS is supported for lists: When evaluating "a CONTAINS b", "a" can be a list; however, "b" cannot be a set, a map, or a list."

[2017-07-06 14:52] bboreham opened #81 "Please support TagResource as no-op"
I have some [TagResource](http://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_TagResource.html) calls in my code to help break down our AWS costs, but they break when run locally because they are rejected by dynalite (via localstack):

    UnknownOperationException: An unknown operation was requested.

I don't need dynalite to actually do anything with the tag, just ignore it is fine

[2017-07-08 03:54] erykwarren opened #82 "Shouldn't be able to put items with empty lists or empty maps"
From the [documentation](http://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_PutItem.html):

Surprisingly, the AWS console allows you to insert such records using the UI, but that restriction for sure exists in the DynamoDB API.

To reproduce:
[code]

[2017-07-08 03:58] mhart commented on #82
@erykwarren that's for set types, not lists or maps – going to close – but if you can show an error that occurs on production DynamoDB that doesn't occur on dynalite, I'll reopen

[2017-07-08 03:58] #82 closed

[2017-07-08 18:30] erykwarren commented on #82
@mhart My bad, sorry.

[2017-07-08 20:24] mhart commented on #82
np 👍

[2017-07-24 09:28] jinghuaz opened #83 "delete tale failed"
@mhart
I use python boto3 delete table,but failed. Long time no response
and use aws-cli to delete table also return failed.
so you can delete table,can you tell me Detail method. thanks a lot, this is very important for me.

[2017-07-24 15:05] mhart commented on #83
dynalite will use the `deleteTableMs` setting to determine how long tables stay in the DELETING state: https://github.com/mhart/dynalite#example

How are you starting dynalite? What settings are you using?

[2017-07-25 13:58] mhart commented on #79
@jinghuaz ?

[2017-09-16 13:20] mhart commented on #83
@jinghuaz any news here?

[2017-11-09 06:45] jinghuaz commented on #79
@mhart  ok,thanks. i will test it. so i want know add indexing means create a new table for this indexing,as i know AWS is done like this index=new table.

[2018-02-16 06:38] pdhar-tibco opened #85 "dynalite cli.js does not close the db"
I am trying to run dynalite in a docker container with --path mapped to a local filesystem volume inside the container. When I restart the container the dynalite server is not able to open the database and the server dies leading to client timeouts.
The following code
`
// If we're PID 1, eg in a docker container, SIGINT won't end the process as usual
if (process.pid == 1) process.on('SIGINT', pro

[2018-04-22 18:56] cdhowie opened #86 "Limit in scan operation does not return LastEvaluatedKey correctly"
For a [scan](https://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_Scan.html) operation, the Limit input parameter is (emphasis mine):

If I have a table in a dynalite database and I issue a scan with a filter condition and a limit less than the number of records in the table, I am not seeing a `LastEvaluatedKey` in the response, which makes it impossible to continue the operation.

[2018-04-24 05:18] brkattk opened #87 "batchGetItem returning error when resource not found"
Correct me if I'm wrong, but batchGetItem should not return a NotFound error when a resource key is not found.

[BatchGetItem](https://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_BatchGetItem.html)

[2018-05-11 22:13] dkong-d2l commented on #86
I have found this issue myself and have proposed a fix for it [here](https://github.com/mhart/dynalite/pull/89)...

[2018-05-25 08:05] adrianpraja commented on #26
Hi Michael

Just a +1 on this 👍

I'm building an SQL library on top of aws-sdk and using dynalite@1.2.0  for npm tests
and I have

[code]

which translates to aws-sdk `.updateTable(...)`
[code]
still returns the index in place

would help also just to change the`IndexStatus` to `DELETING`
and disable further operations on it,  even if the index is not deleted 😄

[2018-06-12 20:44] ryanblock opened #90 "npm audit throwing critical warnings for out of date dependencies"
Hi there!

Pretty straightforward: dynalite's deps have gotten out of date, and npm's audit security report is throwing all kinds of scary (if unnecessary) warnings. Here's the current output:

[code]

Sadly, it looks like `level-sublevel` prob isn't going to be updating to remove this error any time soon ([see this issue](https://github.com/dominictarr/level-sublevel/issues/114)), but the `mocha`

[2018-06-18 17:29] #86 closed

[2018-06-18 17:30] mhart commented on #86
Thanks for reporting – this should be fixed in v1.2.1 – please give it a shot and tell me if it works for you 👍

[2018-06-19 00:40] stemail23 opened #92 "Won't build with Node 10.x.x"
Looks like an update to leveldown 2.x.x is needed to compile with Node 10. Is that in the pipeline?

[2018-06-19 13:57] mhart commented on #92
This is fixed in v1.3.0

[2018-06-19 13:57] #92 closed

[2018-06-19 13:58] mhart commented on #90
Fixed in v1.3.0

[2018-06-19 13:58] #90 closed

[2018-07-01 14:14] aassaad commented on #90
This seems to have regressed in 1.3.1

[2018-07-06 18:02] cSchubes opened #93 "Fails to instantiate new dynalite"
When attempting to create a dynalite server in Typescript like so:
[code]
I am getting an error: _Cannot find module 'levelup/lib/errors' from 'shell.js_

I checked the levelup module in my node_modules and indeed, lib only contains three files: batch.js, levelup.js, and promisify.js.

What is going on here?

[2018-07-06 18:03] mhart commented on #93
@cSchubes can you give me some details on what versions of node and npm you're using?

[2018-07-06 18:03] cSchubes commented on #93
node 6, and using yarn

[2018-07-06 18:05] cSchubes commented on #93
When I remove the dynaliteServer line, the error goes away.

[2018-07-06 18:08] mhart commented on #93
Hmmm, there might be an incompatibility with `level-sublevel` and `levelup` here – let me look into it

[2018-07-06 18:12] mhart commented on #93
I don't get this when I execute the same code in node:
[code]

[2018-07-06 18:16] mhart commented on #93
`level-sublevel` will use the version of `level` that's in its own `node_modules` directory (if it exists)

[code]

Maybe yarn isn't installing it correctly?

[2018-07-06 18:20] mhart commented on #93
FWIW, when I do `yarn add dynalite` it installs everything correctly (with yarn 1.7.0)

Can you tell me what the output of `ls node_modules/level-sublevel/node_modules/levelup/lib` is?

[2018-07-06 18:34] cSchubes commented on #93
`batch.js  codec.js  encodings.js  errors.js  levelup.js  read-stream.js  util.js  write-stream.js`

That seems to include errors.js, but it isn't looking there for some reason.

[2018-07-06 18:39] cSchubes commented on #93
I am using yarn 1.7. I've added it as a devDependency since it is going to be used for testing purposes. Thanks for your quick responses

[2018-07-06 18:40] mhart commented on #93
Might be a Typescript issue then – with the way it's importing modules – just try plain Node (and `require`) and see if it works.

[2018-07-06 18:44] cSchubes commented on #93
that appears to be it - works with raw JS and node. Thanks for the help!

[2018-07-06 18:46] mhart commented on #93
No probs – hope you figure it out!

[2018-07-06 18:46] #93 closed

[2018-07-09 16:01] cSchubes commented on #93
Quick update:

Fixed this by changing the `require(levelup/lib/<thing>')` lines into relative imports that look in the node_modules directory.

I am curious though - why is an internal node_modules directory being created at all? This seems like it would only cause problems like mine. The newest version of level-sublevel (from their repo) has a different package.json that does not require levelup,

[2018-07-09 16:14] mhart commented on #93
It's so that each library can declare their own dependencies. If you rely on one version of something and someone else relies on another (major) version, your program wouldn't work if you both tried to require the same package (which is evidently what... typescript? is trying to do).

npm will dedupe shared dependencies as high up the tree as they can go – and sometimes that's only as high as the

[2018-07-09 16:16] mhart commented on #93
The latest version of level-sublevel (with the changes you describe) was only published 10 hours ago... so yes, I'll look into updating it for dynalite now.

[2018-07-09 16:43] cSchubes commented on #93
thanks for explaining that. I'm still new to the world of node, javascript, and typescript so apologies for my ignorance! I'll update this thread if I get it to work using no-hoist or some other technique.

[2018-07-09 16:49] mhart commented on #93
Turns out level-sublevel@6.6.4 introduces some major breaking changes. https://github.com/dominictarr/level-sublevel/pull/116#issuecomment-403541860

Will look at moving to subleveldown as suggested there

[2018-07-16 16:00] andrewkrug commented on #81
It would actually be great if this could support tagging.  I'd love to be able to test table discovery and such against a local instance of dynamodb.

[2018-08-03 12:28] agibalov opened #94 "Scan with filter and limit omits some records"
(Probably a clone of #86)

When scan request has a filter and a limit parameter, some of the records are omitted. Filter without limit is OK, limit without filter is OK, but not both at the same time. The same scenario works as expected against the AWS's Dynamo.

Here https://github.com/agibalov/aws-experiment/blob/master/dynamodb-experiment/src/test/java/io/agibalov/DynaliteScanLimitIssueTest.jav

[2018-08-03 12:43] agibalov commented on #94
Now that I'm looking at https://quay.io/repository/testcontainers/dynalite?tag=v1.2.1-1&tab=tags I'm under the impression that it's not 1.2.1. https://github.com/mhart/dynalite/releases/tag/v1.2.1 says June the 18th, while https://quay.io/repository/testcontainers/dynalite?tab=tags says March the 20th.

Let me close for now and try the real 1.2.1 where #86 is supposed to be fixed.

[2018-08-03 12:43] #94 closed

[2018-08-07 09:36] mantoni opened #95 "ExclusiveStartKey returns result set including the element with the start key"
Hey, thanks for making this, it's help a lot with testing my app!

I came accross a difference to DynamoDB when specifying `ExclusiveStartKey`. Dynalite returns the the element with the specified key while DynamoDB doesn't. This means when I use a query results `LastEvaluatedKey` as the starting point for the next query I end up with duplicate entries.

Dynalite v2.0.0
Node v10.6.0
macOS High Sier

[2018-08-07 13:49] mhart commented on #95
@mantoni can you show me an example query where this happens? Thanks!

[2018-08-07 15:14] mantoni commented on #95
I manged to create a runnable test case that reproduces the issue. It turns out to be related to `ScanIndexForward: false`.

[code]

This prints:

[code]

I don't expect it to return the entry with `num: 2` on the second query. When I remove `ScanIndexForward: false` it works as expected.

[2018-08-07 15:37] mhart commented on #95
Awesome! Thanks for the repro – I think you're right that I don't have enough tests with `ScanIndexForward: false` and `ExclusiveStartKey` – I'll look into it today

[2018-10-10 18:29] spatel-cog commented on #71
I believe this can be resolved by modifying db/index.js
The code which filters out results based on attributes set (around lines 853-857) can be moved to after line 861.
This seems to work for me - just wondered if there were any side affects.

[2018-10-16 20:08] #71 closed

[2018-10-16 20:08] #81 closed

[2018-10-16 20:08] #95 closed

[2018-10-16 20:08] mhart commented on #95
Fixed in v2.1.0

[2018-10-16 20:09] mhart commented on #80
Fixed in v2.1.0

[2018-10-16 20:09] #80 closed

[2018-10-16 20:15] mhart commented on #87
@brkattk can you please post some code that can reproduce this? Are you sure the table you're querying exists?

[2018-10-17 05:48] mantoni commented on #95
Awesome! Thank you 🙏

[2018-10-29 21:08] golden88 opened #96 "ConfigError: Missing region in config"
Hello, when using dynalite together with the `aws-sdk`, I am getting a ConfigError from the `aws-sdk`.
Apparently
[code]
is not enough anymore to get started. When I set the region to `eu-west-1`,
I am getting
[code]
please advise.

[2018-10-29 21:16] mhart commented on #96
Try:

[code]
and let me know if that works

[2018-10-30 04:43] golden88 commented on #96
hey @mhart,
getting the same error with your line.

[2018-10-30 12:38] mhart commented on #96
I think you have some sort of DNS issue – 169.254.x.x is a Link-local address: https://en.wikipedia.org/wiki/Link-local_address

Are you running this in Docker or something?

[2018-11-05 16:04] mhart commented on #96
Any update on this?

[2018-11-07 16:26] dasniko opened #97 "DynamoDB September 2018 update"
DynamoDB local has been refreshed in September 2018 (v1.11.119) - did you already have a chance to check which of your findings of the differences between DynamoDB and DynamoDB local are still valid? Are there any left or any solved (or worse, new findings)?

[2018-12-12 13:26] andrewkrug opened #98 "Support DynamoDb transactions"
Amazon has just announced this major feature: https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/transactions.html

It would be great to ensure that transactions and ACID compliance is supported in Dynalite.

[2018-12-27 01:05] mhart commented on #96
Closing due to lack of activity

[2018-12-27 01:05] #96 closed

[2018-12-27 01:10] mhart commented on #87
Going to close this due to lack of activity – feel free to reopen if you have some code that can reproduce this.

[2018-12-27 01:10] #87 closed

[2019-01-04 06:18] dimaqq opened #99 "`((` in ConditionExpression -- parity with prod or oversight?"
https://github.com/mhart/dynalite/blob/0641c3bf29b1171a67f49d58ca47ad676e145884/db/conditionParser.pegjs#L123

Contains following validation for `ConditionExpression`:

`    if (!errors.parens && text().indexOf('((') === 0) {`

The language for condition expressions includes both `AND` and `OR`, thus, it is possible to construct irreducible expressions with arbitrary number of repeated parentheses

[2019-01-04 07:31] dimaqq commented on #99
I've tested real dynamodb, here's current behaviour:

[code]

It seems that in this case, dynalite deviates from dynamodb.

[2019-01-04 13:43] mhart commented on #99
Yep, I think I just took a shortcut here. Would be happy for a PR to fix this

[2019-01-04 13:53] mhart commented on #99
(from memory it was difficult in peg.js to determine redundant parens as they were eliminated – but it was a long time ago)

[2019-01-04 14:04] ojii commented on #99
It's late on a Friday night, so I'm not super confident in this, but given the two examples by dimaqq, the following code gives the correct result for both examples:

[code]

[2019-01-04 14:05] mhart commented on #99
Awesome. Fri morning here in NYC, so I might have a chance to play with this today – thanks! 👍

[2019-01-04 15:06] ojii commented on #99
came up with an updated version, instead of checking if the last and first parens match, check if the second and second-to-last match. If the "inner" parens match, the "outer" must too and are thus redundant.

[code]

[2019-01-04 19:12] #99 closed

[2019-01-04 19:17] mhart commented on #99
Fixed this in the "correct" way using peg.js: https://github.com/mhart/dynalite/commit/0381387c4359126bda9ead9cb851602f5d944be5#diff-6877405f768ee66ac5f3e9a529bfc10d

[2019-01-22 01:43] dimaqq opened #100 "minor doc addition / problems with dynamodb local"
Hi @mhart , than you so much for dynalite!

It's made our tests ~2x faster (vs. dynamodb local) and ~10x less CPU intensive (now we can think of running tests in parallel).

During the conversion, it even uncovered a bug (luckily in our tests and not prod code), specifically, dynamodb has a default sort order for result set, dynalite follow it, dynamodb local does not.

The latter fact could be ad

[2019-01-22 15:58] mhart commented on #100
That's awesome to hear! There are still some recent features that dynalite hasn't caught up on, so I feel like it's hard to make the case like I used to be able to 😄

[2019-01-22 15:58] #100 closed

[2019-02-16 06:48] adamgerst opened #101 "AWS Java - Unrecognized SSL message, plaintext connection?"
I'm setting up a local kinesis stream using localstack and when it comes to creating tables in dynamodb, it's crashing complaining about SSL

[code]

When I start up my java application, I make sure to disable SSL certs by passing in the ```-Dcom.amazonaws.sdk.disableCertChecking``` option and set the environment variable ```AWS_CBOR_DISABLE=true```

Any ideas on what's going on?  My app isn't hav

[2019-02-16 16:33] mhart commented on #101
Is the java kinesis client trying to connect to DynamoDB? I'm unfamiliar with that library – maybe there are some settings you need to set to for the connection to DynamoDB?

[2019-02-19 17:14] adamgerst commented on #101
It is, the client is trying to create tables that a kinesis client needs to store information about the stream in.  I'm able to use the aws cli tool to do CRUD with dynalite.  The connection is being set correctly, I have it going to the correct port.  Is there any sort of debug options I can use when I start localstack/dynalite that can give me any information on the dynamo side of things?  The e

[2019-02-20 08:13] adamgerst commented on #101
Hmmm, this all seems to be related to the SSL madness that is AWS CLI, KPL, and KCL when using kinesalite and dynalite.  People have posted about this problem in several other issues so I'm going to close this issue.

[2019-02-20 08:13] #101 closed

[2019-02-21 21:11] bwitt opened #102 "Table metadata like ItemCount doesn't get updated"
Seems like ItemCount on a table gets initialized to 0 on table creation, but then is never updated.  'real' dynamodb apparently updates, but only eventually (https://stackoverflow.com/questions/12499822/how-can-i-get-the-total-number-of-items-in-a-dynamodb-table mentions updating only every 6 hours).

It'd be good if dynalite could update at least as often as real dynamodb.

[2019-02-25 17:05] andrewkrug commented on #98
Any traction / support for this?

[2019-03-08 05:36] dimaqq opened #103 "Does dynalite support TTL?"
I couldn't figure this out by reading docs or scanning through the code, does dynalite support `TimeToLiveSpecificaiton` a.k.a. `TTL` ?

[2019-03-08 13:50] mhart commented on #103
No, it doesn't

[2019-03-20 16:43] hbbio opened #105 "MissingAuthenticationTokenException"
I am performing two subsequent queries (from a Go client):

The first put query executes successfully:

[code]

but the second put fails with the following error:

[code]

Any idea to what could be the cause? I haven't seen much documentation about query auth as I guess there's none for local tests.

Edit: Both put requests come from the same function with similar arguments.

[2019-03-20 17:49] hbbio commented on #105
Turns out that in between calls I added an Authorization header to the RoundTripper. Should dynalite ignore Authorization headers?

(btw, the error message is wrong since adding an Authorization header triggers the error while it seems from the message it's the other way round)

[2019-03-20 17:50] mhart commented on #105
No, dynalite will always expect an Authorization header – it's intended to act as much like production as possible, so that your tests are as accurate as possible. I imagine that this would have failed in production too (if it doesn't, then you'll need to explain a bit more what's going on and how you're getting it to succeed at Authorization in production)

[2019-03-20 18:00] hbbio commented on #105
Thanks @mhart makes sense.

[2019-03-20 18:00] #105 closed

[2019-04-11 17:47] Gerst20051 commented on #96
This is the solution:

[code]

[2019-04-11 17:48] Gerst20051 opened #106 "Add support for BillingMode"
I'm getting the following errors when I try to use the OnDemand BillingMode.

[code]

[2019-04-17 20:07] Gerst20051 opened #107 "Increase Index Restriction To 20"
The current limit imposed is 5 but aws has increased this limit to 20 for dynamodb.

[2019-05-06 16:03] #107 closed

[2019-05-06 16:04] mhart commented on #107
Fixed in v2.3.0 – thanks for reporting!

[2019-05-07 15:36] bwitt commented on #98
as of 2019-02-04 dynamodb local supports transactions:
https://aws.amazon.com/about-aws/whats-new/2019/02/amazon-dynamodb-local-adds-support-for-transactional-apis-on-demand-capacity-mode-and-20-gsis/

[2019-05-07 15:53] bwitt opened #109 "Link for differences between dynamodb and dynamodb local is broken"

[2019-06-12 15:43] FrancoConci opened #110 "Is there a way to stop the dynalite server"
For testing purposes, I'd like to start/stop the server automatically with beforeEach and afterEach etc.
I know how to start the dynalite server, but how to stop it?

[2019-06-12 15:51] mhart commented on #110
This should work: https://github.com/mhart/dynalite/blob/master/test/helpers.js#L68

[2019-06-24 01:00] Ghilteras commented on #101
@adamgerst can you link the related issues instead of just closing the issue like this otherwise people coming from a google search (like me) don't know where to go from here or what other issues are linked to this one (since there is none) without having to manually do another search.

[2019-07-16 18:39] ronjouch opened #112 "Leveldown@4 fails to build under Node 12, need to upgrade to leveldown@5"
Dynalite optDepends on `"leveldown": "^4.0.1"` (4.x), which fails to build under node 12.x. https://github.com/Level/leveldown/issues/628#issuecomment-489469869 says that:

See https://github.com/Level/leveldown/blob/master/UPGRADING.md

[2019-07-18 03:41] emise commented on #98
Could we possibly build this as a wrapper on [batchGetItems](https://github.com/mhart/dynalite/blob/master/actions/batchGetItem.js) and batchWriteItems? For dev I feel that we don't really need super robust Transactions; mainly we'd just want the method implemented and returning some expected Transactions error messages.

[2019-09-10 06:58] timqian commented on #106
Any update on this issue?

[2019-09-23 18:21] mhart commented on #112
Have fixed this in version 3.0.0 – thanks for reporting!

[2019-09-23 18:21] #112 closed

[2019-09-23 18:23] mhart commented on #110
Closing due to lack of activity

[2019-09-23 18:23] #110 closed

[2019-09-23 19:30] #109 closed

[2019-10-10 20:05] timneedham commented on #98
Hi, great project!
Any news on this at all... just like @emise says, we don't need anything super robust, but enough to test against. Thanks for the great work!

[2019-10-17 11:23] freshollie opened #114 "Jest implementation"
Hi,

Thanks for this great library.

Just thought I'd let you know that I've used `dynalite` to write a jest plugin designed for unit testing with DynamoDB. Please feel free to check it out, and link to it if you see fit.

[2019-10-29 05:45] afshawnlotfi opened #116 "Query not working correctly"
I assume this library does not take into account query and scan projection? Is there any plans for that. I like this library more than the Amazon provided local dynamodb because it is open source and could actually be used for production during an early stage of a startup. Support would be appreciated!

[2019-10-29 06:00] #116 closed

[2019-10-29 12:46] mhart commented on #116
Can you give some more details please? Or is this not an issue anymore?

[2019-10-29 17:10] afshawnlotfi opened #117 "Is Conditional Expressions for queries properly setup"
I tried the following request for querying with a conditional expression:
[code]
And received the following response from the server:

[code]

The following expression works fine on DynamoDB local offered by Amazon.

[2019-10-29 17:53] mhart commented on #117
Hi @afshawnlotfi – does this expression work on DynamoDB in production?

[2019-10-29 20:43] afshawnlotfi commented on #117
Haven't tested production but I didn't generate this the [FSharp.AWS.DynamoDB](https://github.com/fsprojects/FSharp.AWS.DynamoDB) library did and I assume they did everything right. The only time I have this exception is when I want to run a Filter expression when updating

[2019-10-29 21:14] afshawnlotfi commented on #117
I have noticed that if I do compound conditional expressions for example ```
<@ fun (entry: BroadcastModel) ->
                entry.UserId <> userId && entry.UsersAttending.Count < entry.EventInfo.MaxPeople @>)
[code]

[2019-11-15 16:39] afshawnlotfi commented on #117
I have tested on production now and my query I used above works just fine. There is something wrong with this codebase for Conditional Expressions on Queries and a I assume scans

[2019-11-27 20:18] #106 closed

[2019-11-27 20:19] mhart commented on #106
Yup, this has been pushed out with v3.1.0, thanks for reporting!

[2019-12-02 12:04] sateeshampolu opened #119 "Optimistic locking not supported by Dynalite"
Does Dynalite support optimistic locking?

I have an integration test to prove that optimistic locking works . It work fine when running it with DynamoDb local but fails when using Dynalite.

[2019-12-02 13:22] mhart commented on #119
Hi @sateeshampolu – if you could post some code to reproduce, that would be great, thanks!

[2019-12-02 15:13] Gerst20051 commented on #106
@mhart thanks for the progress!

[2019-12-03 08:53] sateeshampolu commented on #119
Hi

I have a simple scenario.
`@DynamoDBTable(tableName = "someTable")
Class Entity {
@DynamoDBVersioned
private Long version;
@DynamoDBHashKey
private String id;
private String variableValue;
}

in a test if you do
Entity e1 = dynamoDbMapper.load(Entity.class, "ID1");
Entity e2 = dynamoDbMapper.load(Entity.class, "ID1");
e1.setVariableValue("value1")
e2.setVariableValue("value2")
dynamoDbMapper.s

[2019-12-03 13:41] mhart commented on #119
Is there a way you can debug to see what DynamoDB commands that code is issuing to the server?

[2019-12-03 15:57] #117 closed

[2019-12-03 15:59] mhart commented on #117
Figured out the issue – it was the extra parens around the `size` function that caused the issue in `( size ( #ATTR5 ))` – I didn't have any tests for that.

Fixed in v3.1.1 – thanks for reporting!

[2019-12-05 00:47] afshawnlotfi commented on #117
No problem thanks!

[2019-12-05 16:51] Tenzer opened #120 "Reserved keywords in version 3.1.1"
We are using dynalite for our test suite instead of calling the proper DynamoDB service, and we've seen our tests which are interacting with dynalite fail after the release of version 3.1.1.

I've constructed a minimal test case to reproduce the issue.

First, create the table like this:
[code]

You don't need to load any data into the table.

If you query against dynalite the query succeeds like

[2019-12-05 17:13] mhart commented on #120
Ugh, sorry about that – I refactored the query parser to fix another bug with it (hence the patch release) and I obviously introduced another edge case. WIll fix ASAP

[2019-12-05 17:42] #120 closed

[2019-12-05 17:42] mhart commented on #120
Should be fixed in v3.0.2 – sorry for the breakage 😞

[2019-12-05 17:43] mhart commented on #120
(Which has just been published, to clarify)

[2019-12-06 09:55] Tenzer commented on #120
I assume you mean v3.1.2 😉
Thank you for fixing this so fast!

[2020-01-08 17:14] Gerst20051 opened #123 "Cannot set property 'NumberOfDecreasesToday' of undefined"
I'm getting this issue on the following line:

https://github.com/mhart/dynalite/blob/v3.1.2/actions/createTable.js#L52

`TypeError: Cannot set property 'NumberOfDecreasesToday' of undefined`

[2020-01-08 17:43] #123 closed

[2020-01-08 21:35] Gerst20051 commented on #123
@mhart do you know where this error is coming from when i try to run locally? i tried making some updates in `dynalite/validations` but haven't found the solution yet if it's coming from there.

https://github.com/mhart/dynalite/blob/master/validations/createTable.js
https://github.com/mhart/dynalite/blob/master/validations/updateTable.js

I tried removing these two lines:

https://github.com/mhar

[2020-01-08 21:57] mhart commented on #123
Can you explain how to reproduce this? Has this only started happening since this PR has been merged?

[2020-01-08 22:07] Gerst20051 commented on #123
Sure. No this seems to be an issue with the `aws-sdk`. I have two separate files, one for cloudformation and one for local/dynalite since they often need to be different because of incompatibilities. I was trying to make them more similar by removing the `ProvisionedThroughput` section from the local version since it's not needed in the cloudformation definition.

I commented out the validations l

[2020-01-08 22:36] mhart commented on #123
I currently don't have any tests for `GlobalSecondaryIndexes` and `PAY_PER_REQUEST` mode (which is only a recent addition to dynalite), so there's probably some lacking functionality there.

I'll play around a little and see how DDB acts in production with these and then hopefully iron this out.

[2020-01-08 23:22] Gerst20051 commented on #123
Awesome, no rush just trying to help! I figured out some of the confusion here.

Everything was working fine locally with the versions I was originally using:

[code]

With these settings:

- BillingMode: PAY_PER_REQUEST
- ProvisionedThroughput Set On Table
- ProvisionedThroughput Set On GSI

Issues started to happen after updating dependencies to these latest versions:

[code]

Everything still w

[2020-01-08 23:47] mhart commented on #123
But you can't specify `ProvisionedThroughput` when `BillingMode` is `PAY_PER_REQUEST` – DynamoDB (production) won't allow you to do that. So you shouldn't be doing that at all.

[2020-01-08 23:49] Gerst20051 commented on #123
That's exactly the issue and why I want to remove it from the local version so that it matches my cloudformation which doesn't specify it. The `aws-sdk` is throwing that error when I try to remove it!

[2020-01-08 23:52] mhart commented on #123
It's not the aws-sdk throwing the error (not really) – it's dynalite. When I added support for PAY_PER_REQUEST, I didn't add it for GlobalSecondaryIndexes as well – so they continue to have an old validation check (that DynamoDB used to have before PAY_PER_REQUEST was introduced)

I'm working on adding support for GlobalSecondaryIndexes and PAY_PER_REQUEST as we speak – and that should remove the

[2020-01-08 23:53] Gerst20051 commented on #123
Ok cool! Looking forward to seeing the fix!

[2020-01-09 00:08] mhart commented on #123
Ok, just published v3.1.4 – please give that a shot and let me know how it goes.

There are still issues with UpdateTable that might take a while to iron out – when converting a table between PAY_PER_REQUEST and PROVISIONED modes – but CreateTable should work now

[2020-01-09 00:38] Gerst20051 commented on #123
Ok, it's still throwing this error:

[code]

[2020-01-09 01:15] mhart commented on #123
Can you show the AWS SDK call you're making to replicate that error? Forget the cloudformation for a sec, let's just see if we can reproduce with the actual SDK call.

[2020-01-09 02:04] Gerst20051 commented on #123
I'm not making any api calls that is serverless when I try to run `npm start`.

Maybe `serverless-dynalite` is doing an api call on this line?

https://github.com/sdd/serverless-dynalite/blob/v1.4.0/index.js#L163

[2020-01-09 03:52] mhart commented on #123
Maybe you can turn on logging: https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/logging-sdk-calls.html

[2020-01-09 18:06] mhart commented on #123
(TBH looking at that error again, it looks like maybe it's not using the latest version of dynalite – are you sure that the version of dynalite that `serverless-dynalite` is using is the latest version?)

[2020-01-09 18:10] Gerst20051 commented on #123
I'm assuming it is using the latest version but I will check that and try turning on the logging later today.

[2020-01-09 23:37] mhart commented on #123
I've added support to UpdateTable now as well – so as far as I can tell, both CreateTable and UpdateTable should work as they do on production (I added a bunch of tests to ensure this).

There could still be some cases I'm missing though, so let me know how you go

[2020-02-03 18:47] clayhan commented on #98
Came here and was happy to see this was an issue. Any word on if this might occur? Would love to use Dynalite over localstack.

[2020-03-19 15:05] darshan-ghumare opened #126 "Support of 2011 API version"
Does dynalite  support 2011 API version?
I'm getting traceback when I try to create table using python boto.
`boto.exception.DynamoDBResponseError: DynamoDBResponseError: 400 Bad Request
{u'Message': u'Start of structure or map found where not expected', u'__type': u'com.amazon.coral.service#SerializationException'}
`

[2020-04-06 15:49] jeremydaly opened #128 "PutItem with ReturnValues set as 'ALL_OLD' doesn't work correctly"
A `PutItem` call with 'ALL_OLD' specified as the `ReturnValues` should return a copy of the overwritten item.

[2020-04-06 16:09] mhart commented on #128
Hmmm, it certainly tries to do that: https://github.com/mhart/dynalite/blob/0641c3bf29b1171a67f49d58ca47ad676e145884/actions/putItem.js#L22-L23

What is it returning?

[2020-04-06 19:16] jeremydaly commented on #128
I'm just getting an empty object.

[2020-05-19 21:07] jseppi opened #130 "UnexpectedParameter: Unexpected key 'TimeToLiveSpecification' found in params"
When I try to use the [`TimeToLiveSpecification`](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-dynamodb-timetolivespecification.html) Property, I get this error during creation:

[code]

Does `TimeToLiveSpecification` need to be added to a validator?

[2020-05-19 21:09] mhart commented on #130
That error looks like it's coming from the aws-sdk?

[2020-05-19 22:34] bwitt commented on #130
I thought dynalite didn't support TTL https://github.com/mhart/dynalite/issues/103 ?

[2020-05-19 22:37] mhart commented on #130
It doesn't – but the error the poster is referring to is coming from validation in the aws-sdk – it's got nothing to do with this library

[2020-05-20 02:10] ojii opened #131 "Support empty strings and binary values"
DynamoDB [now supports empty strings and binary values](https://aws.amazon.com/about-aws/whats-new/2020/05/amazon-dynamodb-now-supports-empty-values-for-non-key-string-and-binary-attributes-in-dynamodb-tables/).

[2020-05-20 14:50] jseppi commented on #130
@mhart: Apologies; this is definitely an issue in aws-sdk. The `TimeToLiveSpecification` is not supported for some reason in `createTable` ([ref](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/DynamoDB.html#createTable-property)).
Thank you for your speedy responses, and for this module!

[2020-05-20 14:50] #130 closed

[2020-06-23 00:06] tigstep opened #132 "Can not connect to dynalite using aws java sdk"
Hello,

When I start the dynalite like so
`dynalite`
I get
`Listening at http://:::4567`

However when I try to interact with it using aws-java-sdk with the following configs
[code]
I get
[code]

I am able to interact with dynalite using the aws cli though.

Can someone advise on the above?

[2020-06-23 01:30] mhart commented on #132
What code are you using? This should work:

[code]

[2020-06-23 02:18] tigstep commented on #132
Thank you for the reply @mhart
I am using the DynamoDB connector in Apache Beam which in turn uses `software.amazon.awssdk.services.dynamodb.DynamoDbClient;`

https://github.com/apache/beam/blob/master/sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/dynamodb/DynamoDBIO.java#L63

This is how I try to achieve this

[code]

[2020-06-23 12:45] mhart commented on #132
What happens if you use this with `new URI("http://localhost:4567")`?
 https://github.com/apache/beam/blob/10c9b7482e1679ddd725c414b2d3b62294a2ee65/sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/dynamodb/DynamoDBIO.java#L371-L375

[2020-06-23 21:37] tigstep commented on #132
thank you @mhart this approach worked!

[2020-06-23 21:38] #132 closed

[2020-07-23 03:47] chadbrewbaker opened #135 "S3 serialization"
What would it take to turn this into a Lambda layer with serialization to S3 so you could use it in production and avoid DynamoDB altogether?

[2020-07-23 12:08] mhart commented on #135
If you used [EFS](https://aws.amazon.com/blogs/aws/new-a-shared-file-system-for-your-lambda-functions/) (instead of S3), you wouldn't need to modify anything at all.

I still wouldn't recommend using it in production though – it hasn't really been stress tested in the way you'd want to for a production DB.

[2020-10-30 00:37] urbien commented on #135
I also would like to do this, and EFS is fine with me. But I can't call Dynalite in Lambda as it is implemented as a HTTP server, to emulate DynamoDB. I want to skip the whole aws-client and use Dynalite as embedded DB, and experiment with other LevelUP backends.
@mhart can you suggest the best way to cut through and call Dynalite as API?

[2020-10-30 00:47] mhart commented on #135
@urbien can you explain what problems you have calling this in Lambda? It should work totally fine

[2020-10-30 00:54] urbien commented on #135
@mhart thanks for the quick reply! Dynalite is awesome and it is clear you put immense amount of work into it.
In Lambda I certainly do not need an HTTP server, and I do not even know if can have HTTP client talk to HTTP server inside the same nodejs process of Lambda function. May be it is possible, but certainly very inefficient.

[2020-10-30 01:16] mhart commented on #135
You can certainly do that – explain the inefficiency to me?

[2020-10-30 14:44] urbien commented on #135
Inefficiency is in serializing the request to a string to be sent over the wire, making HTTP request, receiving it and deserializing on the other end. More in AWS client which is adding a signature to the request. All of that is not needed if calling the API directly.
We would still need to convert a JavaScript object to its equivalent DynamoDB AttributeValue type with https://github.com/aws/aws-s

[2020-10-30 15:01] mhart commented on #135
Any time serializing is insignificant compare with the time it'll take you to perform I/O to your LevelUp backend – *especially* if it's EFS – you're talking dozens, if not hundreds, of milliseconds for each EFS interaction – compared with nanoseconds for string manipulation in JS.

[2020-10-30 15:11] urbien commented on #135
agree, but although I will test with EFS, my target environment is something very different. We are building an open source Personal Cloud, which will have Lambda-like execution environment and single-tenant personal data management with a personal file system, personal database, personal reliable messaging, etc. If interested, I would be thrilled to share the details with you.

[2020-10-30 15:19] mhart commented on #135
Ok, no probs. I'm still of the opinion that any time doing external I/O will be much slower than any local HTTP interactions – unless you're talking to an in-memory or local store, in which case, it wouldn't really make sense on Lambda (or a Lambda-like environment) because the data wouldn't be shared. You'd be much better off hosting the DB separately.

In any case, going to close this out – it's

[2020-10-30 15:19] #135 closed

[2020-11-12 12:29] raviagarwal7 opened #136 "Re-push new image to quay.io or docker hub for schema version 2 of manifest"
We are trying to download images for dynalite from quay.io using https://github.com/NotGlop/docker-drag which does not support schema 1. The current dynalite images have been pushed with schema version 1 of the manifest. Quay.io supports manifest schema version 2 fully now - moby/buildkit#409 (comment)

Can we re-push to have schema 2 compatible images to either quay.io or docker-hub?

Also if you

[2020-11-12 12:43] mhart commented on #136
I don't know who's responsible for those docker images unfortunately – it's not from this repo

[2020-11-12 12:43] #136 closed

[2021-01-01 19:23] willsmanley opened #137 "TypeScript Support"
It would be nice to have a `@types/dynalite` for this lib

[2021-01-20 17:30] hackborn opened #138 "Can't add GSI to existing table?"
I want to update a table to add a new global secondary index. Code that works against AWS does nothing against dynalite -- it returns no error, but there's no change in the table.

I took a look at what I assume is the update table code (https://github.com/mhart/dynalite/blob/master/actions/updateTable.js) and looks to me like this just isn't implemented, and I'm wondering if there's just some oth

[2021-02-18 20:04] alexandrebarbaruiva opened #139 "How do I run dynalite detached?"
I'm currently having problems running dynalite with pytest on my Github Actions workflow due to the fact that dynalite blocks any further command (non-detached), is there any way to run dynalite detached?

[2021-07-06 17:50] VaidotasSm opened #142 "ConditionExpression compares Maps (objects) as "==""
Deep comparison works fine in actual DynamoDB, but fails in Dynalite.

This happens in [db/index.js](https://github.com/mhart/dynalite/blob/master/db/index.js#L577)
[code]

Potentially quick fix, might be able to do PR myself sometime later, in that case just want to hear some feedback if this is something to be accepted and/or preferred approaches.

[2021-08-19 02:38] reconbot opened #145 "Uncaught Error when closing during a write"
If you shut down the server during a write you'll get an uncaught error. This comes up when using dynalite for testing. I'd expect it to swallow the error or emit it on the server object.

[code]

This will error with

[code]

[2021-08-19 13:24] mhart commented on #145
Yeah, I think I had it there as a "look, we don't know what this error is, we assume it's bad, let's make sure we crash the process". Definitely overkill if there are known errors that *can* be dealt with

[2021-08-22 07:20] exoego commented on #103
A PR for TTL support https://github.com/mhart/dynalite/pull/144

[2021-08-23 12:01] exoego opened #147 "Dynalite does not validate invalid chars in ConditionExpression"
DynamoDB and DynamoDB-local throws ValidationException if attribute name in `ConditionExpression` contains `_`.
However,

1. Repro for DynamoDB Local

[code]
This wil throw`An error occurred (ValidationException) when calling the PutItem operation: Invalid ConditionExpression: Syntax error; token: "_", near: "__".`

2. Repro for Dynalite

[code]
This will succeed, but it should fail.

[2021-09-01 18:14] saurabhsuniljain commented on #142
I am also facing the same issue. I am comparing maps and are getting compared using `==`.

@VaidotasSm Did you find any work around?

[2021-09-30 16:57] leaumar commented on #137
Our project uses this, perhaps a good starting point? I don't know dynalite enough myself to kickstart this.

[code]

[2021-11-20 11:32] ebisbe commented on #102
I'm interested on this issue despite being old. I'm using `jest-dynalite` to test and I need to use a few `describeTables`. The result is always 0. It's working on production but seems a bit odd.
Could we get it updated in any way @mhart ?

[2021-12-26 23:20] justindra opened #149 "Unable to create a table with Sort Key"
When I create multiple tables and one of them has a SortKey, that table does not exist when the test runs.

With the following Table Configuration:
[code]

When running `Client.listTables()` in the tests, the result is:
[code]

Instead of
[code]

[2022-01-28 18:21] the-wondersmith commented on #149
@justindra I ran into this same issue and ended up creating a patch for it. I've [created a PR](https://github.com/mhart/dynalite/pull/150) for said patch, hopefully @mhart or someone else with merge authority will see it. I can't promise that it's _correct_ (as I'm primarily a Python/Rust programmer and am only _passable_ in JS), but I can assure that it _does_ work.

If you need the change like

[2022-02-02 07:48] sam-goodwin opened #151 "TransactWriteItems throws UnknownOperationException"
It looks like DynamoDB's transactional operations are not supported? When I attempt to call TransactWriteItems, the AWS SDK throws `UnknownOperationException`.

Is this a known issue? Any plan to implement?

[2022-02-03 06:33] bwitt commented on #151
hi this is a dupe of https://github.com/mhart/dynalite/issues/98 ; there's a current open PR at https://github.com/mhart/dynalite/pull/143

[2022-02-24 21:30] #97 closed

[2022-04-27 20:31] il3ven opened #154 "upgrade leveldown to v6 because build fails on apple M1"
While installing dynalite on an Apple M1 machine I get build error in the package leveldown. dynalite is currently using leveldown@^5.6.0 and upgrading to leveldown@^6.0.3 should prevent the build error.

[leveldown@6.0.3](https://github.com/Level/leveldown/releases/tag/v6.0.3) has added support for Mac M1. I don't know if the breaking change in v6 affects dynalite or not and I don't have enough e

[2022-05-18 16:03] aruediger opened #156 "Error when querying BOOL attribute"
I'm using the AWS Java SDK to create a query:
[code]

This works against DynamoDB but fails when using Dynalite with
[code]

[2022-08-31 03:45] cfredhart opened #157 "Does Dynalite support atomic counters"
Does Dynalite support atomic counters? I am getting an error when calling the update using the DocumentClient interface. `_uc` is supposed to be an update counter for the record, but I get an error. `Sets can contain string, number, or binary values`. It seems to be treating `_uc` as a set and not an integer.
[code]

[2022-09-08 08:08] Hideman85 commented on #142
Same issue there, any update since?

[2022-09-18 19:54] kmcn1875 opened #158 "Global Secondary Index Limit Errors"
I have a script for table creation which runs without issues against a Docker installed DynamoDB instance but, when run against Dynalite, I receive the following error message:

_"GlobalSecondaryIndex count exceeds the per-table limit of 5"._

...but the GlobalSecondaryIndex limit in DynamoDB is 20.

[2022-09-28 20:23] kmcn1875 commented on #158
Is anybody still working on the project?

[2022-09-28 20:39] #158 closed

[2022-11-22 08:06] adrys-lab opened #160 "does dynalite support BatchExecuteStatementCommand ???"
we are trying to introduce this feature in our main source code but when running tests with `jest-dynalite`,

[code]

It is giving us a **UnknownOperationException: UnknownError** with a 400.

Is there such feature with `dynalite` ? is there any prevision to introduce it ?